<script>
  import _ from "lodash";
  import { _ as i18n } from "svelte-i18n";

  import { createEventDispatcher } from "svelte";
  import { ACTIVITIES, logActivity } from "../../utils/activityLog";

  import Spacing from "../UI/Spacing.svelte";

  //за trigger-ване на готината анимацийка
  export let animationTriggered = false;
  export let projects;
  export let title;
  export let subTitle;
  export let showStackHint;
  export let showUrl;
  export let stackIcon;

  const dispatch = createEventDispatcher();

  let mobShow = 0; //кой проект да се показва при мобилния вариянт първи

  let toggleStack = (project = null) => {
    dispatch("toggleStack", project);
  };

  let mobLeft = () => {
    changeProjectMobile(-1);
  };
  let mobRight = () => {
    changeProjectMobile(+1);
  };

  let changeProjectMobile = (direction) => {
    let newMS = mobShow + direction;
    if (newMS === -1) newMS = projects.length - 1;
    else if (newMS === projects.length) newMS = 0;
    mobShow = newMS;
    document.getElementsByClassName("mobile-image-container")[0].scrollTo(0, 0);
  };

  const urlClicked = () => {
    logActivity(ACTIVITIES.projectFollowUrl);
  };
</script>

<div class="container">
  <div class="title is-size-2">{title}</div>
  <div class="subtitle">{subTitle}</div>

  <Spacing spaces={1} />

  <!-- Бутон за сменя на проекта (на ляво) -->
  <div class="switch left is-hidden-tablet">
    <div on:click={mobLeft} class="button is-warning is-rounded is-medium">
      <span class="icon">
        <i class="fas fa-arrow-left" />
      </span>
    </div>
  </div>
  <!-- Бутон за сменя на проекта (на дясно) -->
  <div class="switch right is-hidden-tablet">
    <div on:click={mobRight} class="button is-warning is-rounded is-medium">
      <span class="icon">
        <i class="fas fa-arrow-right" />
      </span>
    </div>
  </div>
  <!-- Мобилен вариянт -->
  <div class="box is-hidden-tablet">
    <div class="title">
      {projects[mobShow].name}

      <div
        on:click={() => {
          toggleStack(mobShow);
        }}
        class="is-pulled-right icon tooltip"
      >
        <i class="fas fa-code" />
      </div>
    </div>
    <div class="subtit">
      {#if showUrl}
        {#if projects[mobShow].url}
          <a
            on:click={urlClicked}
            class="has-text-link"
            target="blank"
            href={projects[mobShow].url}>{projects[mobShow].url}</a
          >
        {/if}
      {/if}
    </div>
    <br />
    <div class="subtitle">{projects[mobShow].description}</div>
    <div class="image mobile-image-container">
      <img
        src={projects[mobShow].img}
        alt="screenshot от {projects[mobShow].name}"
      />
    </div>
  </div>

  <!-- Web версия -->
  <div class="columns is-hidden-mobile">
    {#each projects as project, i}
      <div
        class="column box project"
        class:visible={animationTriggered}
        class:last={i == 2}
      >
        <div class="title is-size-4">{project.name}</div>
        <div class="subtitle">
          {#if showUrl}
            {#if project.url}
              <a
                on:click={urlClicked}
                class="has-text-link"
                target="blank"
                href={project.url}>{project.url}</a
              >
            {:else}
              <span class="has-text-grey"
                >{$i18n("softwareProjects.urlUnavailable")}</span
              >
            {/if}
          {/if}

          <div
            on:click={() => {
              toggleStack(i);
            }}
            class="is-pulled-right icon tooltip"
            class:pulled-top={!showUrl}
          >
            <i class={stackIcon} />
            <span 
              class:pulled-left={!showUrl} 
              class="tooltiptext" 
              style="z-index:99999"
              >{showStackHint}</span
            >
          </div>
        </div>
        <div class="subtitle">{project.description}</div>
        <div class="image web-image-container">
          <img src={project.img} alt="screenshot от {project.name}" />
        </div>
      </div>
    {/each}
  </div>
</div>

<style>

  .pulled-top{
    margin-top: -1.8rem !important;
  }  

  .pulled-left.tooltiptext{
    margin-left: -120px !important;
  }

  .column {
    margin-right: 25px;
  }

  .column.last {
    margin-bottom: 24px;
  }

  img {
    height: auto !important;
  }

  .image {
    overflow-y: scroll;
  }

  .switch {
    box-sizing: content-box;
    margin: 4px 4px 4px 4px;
  }
  .switch .button {
    box-shadow:
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  .left {
    float: left;
    margin-left: -13px;
  }

  .right {
    float: right;
    margin-right: -13px;
  }

  .mobile-image-container {
    max-height: calc(100vh - 437px);
  }

  .web-image-container {
    max-height: calc(100vh - 570px);
  }

  @media screen and (max-width: 600px) {
    .switch {
      margin-top: 30vh;
    }
  }

  @media screen and (min-width: 600px) {
    .switch {
      margin-top: 45vh;
    }
  }

  /* За анимацийките */
  @media screen and (min-width: 1029px) {
    .nextButton {
      margin-top: 0.8rem;
      margin-bottom: 2rem;
    }
    .project {
      transition-timing-function: ease-out;
      transition: transform 2s;
      transform: translateX(0px) translateY(0px);
    }

    .project:nth-child(1):not(.visible) {
      transform: translateX(-200px);
    }
    .project:nth-child(3):not(.visible) {
      transform: translateX(200px);
    }
    .project:nth-child(2):not(.visible) {
      transform: translateY(30px);
    }
  }
</style>
