<script>
    import { LINK_TUE_OSIRIS, LINK_X_SYNAPSE } from '../../../../../utils/unicourses'

    export let code;
    export let year;
    export let linkType;

$: link = 
    linkType == LINK_TUE_OSIRIS ?
    `https://tue.osiris-student.nl/onderwijscatalogus/extern/cursus?cursuscode=${
        code
    }&collegejaar=${2020 + year}&taal=en`
    :
    `https://synapses.polytechnique.fr/catalogue/2020-2021/ue/2263/${code}`
    ;

    
</script>

<a href={link} target="_blank">
    External link
    <span class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-external-link-square-alt"></i>
        </span>
    </span>
</a>