<script>
 import {TYPE_MAJOR, TYPE_BASIC, TYPE_ELECTIVE, TYPE_OTHER, TYPE_USE, TYPE_BEP} from '../../../../../utils/unicourses';
 import { _ as i18n } from "svelte-i18n";   

 export let type;

  const tags = {
    [TYPE_MAJOR]:{
        text: $i18n("storyShort.courseMajor"),
        color: 'link'
    },
    [TYPE_BASIC]:{
        text: $i18n("storyShort.courseBasic"),
        color: 'success'
    },
    [TYPE_ELECTIVE]:{
        text: $i18n("storyShort.courseElective"),
        color: 'warning'
    },
    [TYPE_OTHER]:{
        text: $i18n("storyShort.courseOther"),
        color: 'primary'
    },
    [TYPE_USE]:{
        text: $i18n("storyShort.courseUSE"),
        color: 'info'
    },
    [TYPE_BEP]:{
        text: $i18n("storyShort.courseBEP"),
        color:'danger'
    }
  }

</script>

<span class={`tag is-${tags[type].color} is-medium`}>{tags[type].text}</span>