<script>
    export let level;
</script>

<div>
    {#each Array(level) as _}
        <span class="icon has-text-danger">
            <i class="fas fa-star"></i>
        </span>
    {/each}

    {#each Array(3 - level) as _}
        <span class="icon has-text-grey-light">
            <i class="far fa-star"></i>
        </span>
    {/each}
</div>     