<script>
  import { onMount } from "svelte";
  import { createEventDispatcher } from "svelte";

  import Loader from "../UI/Loader.svelte";

  const dispatch = createEventDispatcher();

  onMount(() => {
    //fetch images
    const images = ["/cover.jpg", "/cover-mobile.png"];

    Promise.all(
      images.map(
        (imageUrl) =>
          new Promise((resolve, reject) => {
            const imageElement = new Image();
            imageElement.onload = () => {
              resolve();
            };
            imageElement.onerror = () => {
              reject();
            };
            imageElement.src = imageUrl;
          })
      )
    ).finally(() => {
      dispatch("loaded");
    });
  });
</script>

<div class="overlay has-background-dark">
  <Loader size=100 />
</div>

<style>
  .overlay {
    position: absolute;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
