<script>
  import { locale } from "svelte-i18n";


  let l = "bg";
  $: otherL = l == "bg" ? "en" : "bg";

  const toggle= ()=>{
      window.location = "/?locale="+otherL;
  };

  locale.subscribe(v => {
    l = v;
  });       
</script>

<style>
    .button{background:none}
</style>

<div>
  <div on:click={toggle} class="button is-medium">
    <span class="icon ">
      <img src="/i18n/{otherL}.svg" alt="{otherL} знаме" />
    </span>
  </div>

</div>
