<script>
  import _ from "lodash";
  import { _ as i18n } from "svelte-i18n";

  import icons from "../../utils/icons.js";
  import { getTechs } from "../../utils/techs.js";
  import { isElementScrolledTo } from "../../utils/scroll.js";
  import { getSoftwareProjects } from "../../utils/softwareProjects.js";
  import { ACTIVITIES, logActivity } from "../../utils/activityLog.js";
  import Projects from "../Projects/Projects.svelte";
  import NextButton from "../UI/NextButton.svelte";


  //за trigger-ване на готината анимацийка
  let animationTriggered = false;
  let showStack = false;
  const techs = getTechs($i18n);
  const projects = getSoftwareProjects($i18n);

  let toggleStack = ({detail:project=null}) => {
    if (showStack !== false) {
      showStack = false;
      return;
    } 
    showStack = project;
    logActivity(ACTIVITIES.techStackOpen);
  };

  $: if (showStack !== false) {
    setTimeout(()=>{
      document.documentElement.classList.add("is-clipped");
    },50);
  }
  $: if (showStack === false) {
    document.documentElement.classList.remove("is-clipped");
  }


  const animationTrigger = () => {
    let scrolled = isElementScrolledTo("software-projects", 20);

    if (scrolled) {
      animationTriggered = true;
    }
  };

</script>

<!-- Проекти -->
<svelte:window on:scroll={animationTrigger} />

<section id="software-projects" class="hero is-bold is-light is-fullheight">
  <div class="hero-body">
    <Projects
     on:toggleStack={toggleStack} 
     projects={projects}  
     showUrl={true}
     stackIcon={'fas fa-code'}
     animationTriggered={animationTriggered}
     title={$i18n('softwareProjects.title')}
     subTitle={$i18n('softwareProjects.subtitle')}
     showStackHint={$i18n('softwareProjects.stack')}

     />
  </div>
  <div class="nextButton">
    <NextButton nextElement="engineering-projects" dark />
  </div>
</section>

<!-- Modal със stack-a -->
<div class="modal px-2" class:is-active={showStack !== false}>
  <div class="modal-background" />
  <div class="modal-content">
    <div class="box">
      <div class="title">{$i18n("softwareProjects.modalTitle")}</div>
      <table class="table">
        <thead>
          <tr>
            <th colspan="2" class="has-text-centered">Backend</th>
            <th colspan="2" class="has-text-centered">Frontend</th>
            <th colspan="2" class="has-text-centered">{$i18n("techs.other")}</th
            >
          </tr>
        </thead>
        <tbody>
          {#if showStack !== false}
            {#each _.zip(projects[showStack].techs.backend, projects[showStack].techs.frontend, projects[showStack].techs.other) as row}
              <tr>
                {#each row as tech}
                  <td class="is-pulled-right">
                    <span class="icon">
                      {#if tech && techs[tech].icon}
                        <img
                          src="/icons/{icons[techs[tech].icon].file}"
                          alt={`${$i18n("general.iconFor")} ${
                            techs[tech].name
                          }`}
                        />
                      {/if}
                    </span>
                  </td>

                  <td>
                    {#if tech}{techs[tech].name}{/if}
                  </td>
                {/each}
              </tr>
            {/each}
          {/if}
        </tbody>
      </table>
      <div class="button is-fullwidth is-light" on:click={toggleStack}>
        {$i18n("softwareProjects.close")}
      </div>
    </div>
  </div>
  <button
    on:click={toggleStack}
    class="modal-close is-large"
    aria-label="close"
  />
</div>

<style>
  table {
    width: 100%;
    background-color: white !important;
  }

  .nextButton {
    margin-top: -3rem;
    margin-bottom: 1rem;
  }


  @media screen and (max-width: 600px) {
    td {
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  @media screen and (min-width: 1029px) {
    .nextButton {
      margin-top: 0.8rem;
      margin-bottom: 2rem;
    }
  }
</style>
