body, table {
	background-color: #f0f0f0 !important;
}

html{
	overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
	html {
		font-size: 80%;
	}
}

@media screen and (min-width: 1024px) and (max-width:1400px) {
	html {
		font-size: 85%;
	}
}