<script>
  import { createEventDispatcher } from "svelte";
  import { _ as i18n } from "svelte-i18n";
  import _ from "lodash";

  import { getUniCoursesList } from "../../../utils/unicourses";
  import CoursesTable from "./Courses/CoursesTable.svelte";
  import CourseInfo from "./Courses/CourseInfo.svelte";
  import { ACTIVITIES, logActivity } from "../../../utils/activityLog";

  const dispatch = createEventDispatcher();

  export let active;

  const uniCoursesList = getUniCoursesList($i18n);

  let courseSelected = null;

  const handleClose = () => {
    courseSelected = null;
    dispatch("close");
  };

  const handleBack = () => {
    courseSelected = null;
  };

  const selectCourse = ({detail:course}) => {
    logActivity(ACTIVITIES.timelineCourseDetails);
    courseSelected = course;
  };
</script>

<div class="modal" class:is-active={active}>
  <div class="modal-background" />
  <div class="modal-content" id="inner-container">
    <div class="modal-card">
      <header class="modal-card-head">
        {#if courseSelected}
          <p>
            <span class="is-size-4">{courseSelected.title}</span>
            <span class="is-size-5 has-text-grey ml-3"
              >({courseSelected.code})</span
            >
          </p>
        {:else}
          <p class="modal-card-title">
            {$i18n("storyShort.coursesModalTitle")}
          </p>
        {/if}
      </header>
      <section class="modal-card-body"> 
        <!-- Course list  -->
        {#if !courseSelected}
          <CoursesTable courses={uniCoursesList} on:courseSelected={selectCourse}/>
        {:else}
        <!-- Single course description -->
          <CourseInfo course={courseSelected}/>
        {/if}
      </section>
      <footer class="modal-card-foot">
        <div
          class="button my-n2 is-fullwidth is-light"
          on:click={courseSelected ? handleBack : handleClose}
        >
          {courseSelected
            ? $i18n("storyShort.modalsBack")
            : $i18n("storyShort.modalsClose")}
        </div>
      </footer>
    </div>
  </div>
  <button
    on:click={handleClose}
    class="modal-close is-large"
    aria-label="close"
  />
</div>

<style>
  .modal-card-foot {
    padding: 0.5em 1em 0.5em 1em;
  }
  #inner-container {
    width: 800px;
    padding-left: 1em;
    padding-right: 1em;
  }
  #inner-container .modal-card {
    width: 100%;
  }


  @media screen and (max-width: 769px) {
    #inner-container {
      width: 100%;
    }
    .modal-card {
      margin: 0;
    }
  }

</style>
