<script>
    import { _ } from "svelte-i18n";
    import TimelineContainer from "../../UI/TimelineContainer.svelte";
    import TimeLineRow from "../../UI/TimelineRow.svelte";

    export let list;
    export let shortDate = true;
    export let scrollHinter;
</script>

<TimelineContainer  {scrollHinter} {shortDate} overlayColor='rgba(255, 255, 255, 0.5)'>
    {#each list as diploma}
        <TimeLineRow period={diploma.year}>
            {diploma.text}
        </TimeLineRow>
    {/each}
</TimelineContainer>
