<script>
  import { createEventDispatcher } from "svelte";
  import { _ as i18n } from "svelte-i18n";
  import _ from "lodash";

  import DiplomaList from "./DiplomaList.svelte";
  import { getDiplomaList } from "../../../utils/diplomaList";
  import { ACTIVITIES, logActivity } from "../../../utils/activityLog";

  const dispatch = createEventDispatcher();

  export let active;

  let scrollHinterShown = false;

  const diplomaList = getDiplomaList($i18n);
  let activeCategory = _.toPairs(diplomaList)[0][0];

  const handleCategoryChange = (key) => {
    logActivity(ACTIVITIES.timelinePricesChangeTab);
    activeCategory = key;
    scrollHinterShown = true;
  };

  const handleClose = () => {
    dispatch("close");
    scrollHinterShown = true;
  };
</script>

<div class="modal" class:is-active={active}>
  <div class="modal-background" />
  <div class="modal-content px-2">
    <div>
      <div class="tabs is-boxed">
        <ul>
          {#each _.toPairs(diplomaList) as [key, category]}
            <li class:is-active={activeCategory === key}>
              <!-- svelte-ignore a11y-missing-attribute -->
              <a
                on:click={() => {
                  handleCategoryChange(key);
                }}
                class="px-4 py-4 has-text-danger"
                class:has-background-light={activeCategory !== key}
              >
                <span class="icon is-small"
                  ><i class={category.icon} aria-hidden="true" /></span
                >

                <span class:is-hidden-touch={category.shortTitle}
                  >{category.title}</span
                >
                {#if category.shortTitle}
                  <span class="is-hidden-desktop">{category.shortTitle}</span>
                {/if}
              </a>
            </li>
          {/each}
        </ul>
      </div>
    </div>
    <div class="diploma-container has-background-white px-2 pt-4 pb-2">
      <div style="position:relative">
        {#each _.toPairs(diplomaList) as [key, category] (key)}
          {#if key === activeCategory}
            <DiplomaList
              scrollHinter={active && !scrollHinterShown && key==activeCategory}
              list={ category.diplomas}
              shortDate={key !== "others"}
            />
          {/if}
        {/each}
      </div>
      <div class="mt-2 button is-fullwidth is-light" on:click={handleClose}>
        {$i18n("storyShort.modalsClose")}
      </div>
    </div>
  </div>

  <button
    on:click={handleClose}
    class="modal-close is-large"
    aria-label="close"
  />
</div>

<style>
  .modal-content {
    width: 860px;
    max-width: 100%;
  }

  .tabs {
    margin-right: 0.5rem;
  }

  .diploma-container {
    border-radius: 0rem 0.5rem 0.5rem 0.5rem;
  }
</style>
