<script>
    import { createEventDispatcher } from "svelte";
    import { _ as i18n, json } from "svelte-i18n";
    import _ from "lodash";
    import { getTaJobsList } from "../../../utils/taJobs";
    import { ACTIVITIES, logActivity } from "../../../utils/activityLog";

    export let active;
    const dispatch = createEventDispatcher();

    const taJobs = getTaJobsList($json);

    let jobExpanded = null;

    const handleClose = () => {
        dispatch("close");
    };

    const handleToggleExpandJob = (code) => {
        jobExpanded == code ? jobExpanded == null : (jobExpanded = code);
        logActivity(ACTIVITIES.timelineTAJobDetails);
    };
</script>

<div class="modal" class:is-active={active}>
    <div class="modal-background" />
    <div class="modal-content" id="inner-container">
        <div class="modal-card">
            <header class="modal-card-head">
                {$i18n("storyShort.taModalHeader")}
            </header>
            <section class="modal-card-body">
                <article class="message is-primary">
                    <div class="message-body">
                        <p>
                            {$i18n("taJobs.commonLine1")}
                        </p>
                        <p>
                            {$i18n("taJobs.commonLine2")}
                        </p>
                    </div>
                </article>

                <div class="menu">
                    <ul class="menu-list">
                        {#each taJobs as job}
                            <!-- svelte-ignore a11y-missing-attribute -->
                            <li>
                                <a
                                    class={jobExpanded === job.code
                                        ? "is-active"
                                        : ""}
                                    on:click={() =>
                                        handleToggleExpandJob(job.code)}
                                    >{job.title} ({job.code})
                                </a>

                                {#if jobExpanded === job.code}
                                    <ul>
                                        <li
                                            class="pb-2 has-text-grey-light is-family-monospace"
                                        >
                                            {job.period.from} - {job.period.to}
                                        </li>

                                        {#each job.responsibilities as responsibility}
                                            <li
                                                class="has-text-grey-darker pb-1"
                                            >
                                                {responsibility}
                                            </li>
                                        {/each}
                                    </ul>
                                {/if}
                            </li>
                        {/each}
                    </ul>
                </div>
            </section>
            <footer class="modal-card-foot">
                <div
                    class="button my-n2 is-fullwidth is-light"
                    on:click={handleClose}
                >
                    {$i18n("storyShort.modalsClose")}
                </div>
            </footer>
        </div>
    </div>
    <button
        on:click={handleClose}
        class="modal-close is-large"
        aria-label="close"
    />
</div>

<style>
    .modal-card-foot {
        padding: 0.5em 1em 0.5em 1em;
    }
</style>
