<script>
    import { _ } from "svelte-i18n";
    import { onMount } from "svelte";
    import Portal from "svelte-portal";
    import { scrollToElement } from "../../../utils/scroll";

    import { getTimeline, getType, BUTTON_TYPE_COURSES, BUTTON_TYPE_TA, BUTTON_TYPE_PRICES } from "../../../utils/timeline";
    import DiplomaModal from "../Story2d/DiplomaModal.svelte";
    import CoursesModal from "../Story2d/CoursesModal.svelte";
    import TimelineContainer from "../../UI/TimelineContainer.svelte";
    import TimeLineRow from "../../UI/TimelineRow.svelte";

    import { ACTIVITIES, logActivity } from "../../../utils/activityLog";
    import icons from "../../../utils/icons.js";
    import TaModal from "./TAModal.svelte";

    export let scrollHinter;

    const timeline = getTimeline($_);

    let modalOpened = null;


    onMount(() => {
       const url = new URL(window.location.href);
       let urlModal = url.searchParams.get("modal")
       if(!urlModal) return
       ;
       urlModal =  urlModal.replace('/', '');

       console.log(urlModal);
       if(urlModal === 'tajobs' || urlModal === 'courses' || urlModal == 'prices'){
        window.history.pushState(null, null, `/#story`);
        scrollToElement("story");

        const mapUrl2Modal = {
            'tajobs' : BUTTON_TYPE_TA,
            'courses': BUTTON_TYPE_COURSES,
            'prices' : BUTTON_TYPE_PRICES,
        }

        logActivity(ACTIVITIES[`${urlModal}OpenedFromALink`]);
        modalOpened = mapUrl2Modal[urlModal];
       }
    });

    const handlePointButtonClicked = (button)=>{
        const buttonActivitiesMap = {
            [BUTTON_TYPE_TA]: ACTIVITIES.timelineButtonTa,
            [BUTTON_TYPE_PRICES]: ACTIVITIES.timelineButtonPrices,
            [BUTTON_TYPE_COURSES]: ACTIVITIES.timelineButtonCourses,
        }

        logActivity(buttonActivitiesMap[button]);
        modalOpened = button
    }

    const handleModalClose = ()=>{
        modalOpened = null;
    }

    // Prevents page from scrolling
    $: if (modalOpened) {
        setTimeout(()=>{
            document.documentElement.classList.add("is-clipped");
        },50);
    }
    $: if (!modalOpened) {
        document.documentElement.classList.remove("is-clipped");
    }
</script>

<TimelineContainer {scrollHinter} overlayColor='rgba(243, 53, 102, 0.5)'>
    {#each timeline as point}
        <TimeLineRow period={point.period} tag={getType($_)[point.type]} tagSpacingLarge={Boolean(point.logo)}>
            <p class="is-size-5 has-text-weight-semibold">
                {point.title}
                {#if point.titleLinkUrl && point.titleLinkText}
                    <a
                        target="_blank"
                        href={point.titleLinkUrl}
                        class="is-underlined"
                    >
                        {point.titleLinkText}</a
                    >
                {/if}
                {#if point.logo}
                <span on:click={()=>{if(point.titleLinkUrl) window.open(point.titleLinkUrl, '_blank');
                }} class={`is-hidden-touch is-hidden-desktop-only ml-3 icon-text ${point.text?'mb-2':''} ${point.titleLinkUrl?'is-clickable':''}`}>
                    <span class="logo icon svg is-large has-background-light p-2">
                      <img
                      src={"/icons/" + icons[point.logo].file}
                      alt={`${$_("general.iconFor")} ${point.titleLinkText}`}
                      />
                    </span>
                  </span>
                {/if}
            </p>
            {#if point.text}
            <p>{@html point.text}</p>
            {/if}

            {#if point.button}
                <button
                    on:click={()=>{handlePointButtonClicked(point.button)}}
                    class="button is-hidden-touch is-light mt-1 is-warning px-5"
                    >{point.buttonText}</button
                >
            {/if}
        </TimeLineRow>
    {/each}
</TimelineContainer>

<Portal target="body">
    <DiplomaModal
        active={ modalOpened === BUTTON_TYPE_PRICES}
        on:close={handleModalClose}
    />
    <CoursesModal
        active={ modalOpened === BUTTON_TYPE_COURSES}
        on:close={handleModalClose}
    />

    <TaModal
        active={ modalOpened === BUTTON_TYPE_TA}
        on:close={handleModalClose}
    />
</Portal>

<style>
.logo{
        margin-top:-10px;
        border-radius: 25%;
    }
</style>