<!-- TODO::add paragliding -->
<script>
  import { _ } from "svelte-i18n";
  import NextButton from "../UI/NextButton.svelte";
  import ModalImage from "../UI/ModalImage.svelte";

  import { yearsSince } from "../../utils/time";
  import { isElementScrolledTo } from "../../utils/scroll";
  import { ACTIVITIES, logActivity } from "../../utils/activityLog";

  const HOBIES = {
    bmx: "HOBIES.BMX",
    travelling: "HOBIES.TRAVELING",
    climbing: "HOBIES.CLIMBING",
    dobrich: "DOBRICH",
    eindhoven: "Eindhoven",
  };

  const getImage = (hobbie) => {
    switch (hobbie) {
      case HOBIES.bmx:
        return "/bmx.jpg";
      case HOBIES.travelling:
        return "/camping.jpg";
      case HOBIES.climbing:
        return "/rila.jpg";
      case HOBIES.dobrich:
        return "/dobrich.jpg";
      case HOBIES.eindhoven:
        return "/eindhoven.jpg";
      default:
        return "/dobrich.jpg";
    }
  };

  let age = yearsSince("2001-01-19T01:00:00");

  let more = false;

  const onMoreClicked = () => {
    logActivity(ACTIVITIES.aboutMore)
    hobbie = null;
    more = true;
  };

  let hobbie = null;

  //за trigger-ване на готината анимацийка
  let animationTrigered = false;
  const animationTrigger = () => {
    let scrolled = isElementScrolledTo("about", 20);
    if (scrolled) {
      animationTrigered = true;
    }
  };

  const selectHobie = (h)=>{
    hobbie = h;
    logActivity(ACTIVITIES.aboutHobies);
  } 

  const selectCity = (c)=>{
    hobbie = c;
    logActivity(ACTIVITIES.aboutCity)
  }

  //TODO: REMOVE WHEN STORY IS TRANSLATED
  import { locale } from "svelte-i18n";
  let l;
  locale.subscribe((v) => {
    l = v;
  });
</script>

<svelte:window on:scroll={animationTrigger} />

<section class="level is-block is-fullheight" style="height:100vh">
  <div class:visible={animationTrigered} id="about">
    <!-- Снимка на Старият Добрич -->
    <div id="img" class="level-item is-hidden-touch box pa-0">
      <div>
        <ModalImage
          src={getImage(hobbie)}
          alt={$_("about.oldTownImageAlt")}
          width="375px"
          height="525px"
        />
      </div>
    </div>

    <!-- За мен в 2 изречения -->
    <div id="bioParagraph" class="level-item">
      <div>
        {#if !more}
          <table class="table">
            <!-- Заглавие на таблицата -->
            <thead>
              <tr>
                <th colspan="2">
                  <span class="is-size-2">
                    {@html $_("about.title")}
                  </span>
                </th>
              </tr>
            </thead>

            <tbody>
              <!-- Име -->
              <tr>
                <th>{$_("about.name")}</th>
                <td>{$_("about.myName")}</td>
              </tr>
              <!-- Възраст -->
              <tr>
                <th>{$_("about.age")}</th>
                <td>{age}</td>
              </tr>
              <!-- Сфера -->
              <tr>
                <th>{$_("about.field")}</th>
                <td>{$_("about.myField")}</td>
              </tr>
              <!-- Сфера -->
              <tr>
                <th>{$_("about.langs")}</th>
                <td>{$_("about.myLangs")}</td>
              </tr>
              <!-- Местоживеене -->
              <tr>
                <th>{$_("about.residence")}</th>

                <td>
                  <!-- svelte-ignore a11y-missing-attribute -->
                  <a
                    class="is-hidden-touch"
                    class:selected-hobbie={hobbie == HOBIES.dobrich ||
                      !hobbie}
                    on:click={() => {
                      selectCity(HOBIES.dobrich)
                    }}
                    >{$_("about.myResidence_Dobrich")}
                  </a>

                  <span class="is-hidden-touch">/</span>

                  <!-- svelte-ignore a11y-missing-attribute -->
                  <a
                    class="is-hidden-touch"
                    class:selected-hobbie={hobbie == HOBIES.eindhoven}
                    on:click={() => {
                     selectCity(HOBIES.eindhoven)
                    }}>{$_("about.myResidence_Eindhoven")}</a
                  >

                  <span class="is-hidden-desktop">
                    {$_("about.myResidence_Dobrich")}/ {$_(
                      "about.myResidence_Eindhoven"
                    )}</span
                  >
                </td>
              </tr>
              <!-- Хоби -->
              <tr>
                <th>{$_("about.hoby")}</th>
                <td>
                  <!-- svelte-ignore a11y-missing-attribute -->
                  <a
                    class="is-hidden-touch"
                    class:selected-hobbie={hobbie == HOBIES.bmx}
                    on:click={() => {
                      selectHobie(HOBIES.bmx)
                    }}>{$_("about.hobbies.bmx")}</a
                  >
                  <span class="is-hidden-desktop"
                    >{$_("about.hobbies.bmx")}</span
                  >,
                  <!-- svelte-ignore a11y-missing-attribute -->
                  <a
                    class="is-hidden-touch"
                    class:selected-hobbie={hobbie == HOBIES.travelling}
                    on:click={() => {
                      selectHobie(HOBIES.travelling)
                    }}>{$_("about.hobbies.traveling")}</a
                  >
                  <span class="is-hidden-desktop"
                    >{$_("about.hobbies.traveling")}</span
                  >

                  ,
                  <!-- svelte-ignore a11y-missing-attribute -->
                  <a
                    class="is-hidden-touch"
                    class:selected-hobbie={hobbie == HOBIES.climbing}
                    on:click={() => {
                      selectHobie(HOBIES.climbing)
                    }}>{$_("about.hobbies.climbing")}</a
                  >
                  <span class="is-hidden-desktop"
                    >{$_("about.hobbies.climbing")}</span
                  >
                </td>
              </tr>
            </tbody>

            <tfoot>
              <tr>
                <td colspan="2">
                  <!-- svelte-ignore a11y-missing-attribute -->
                  <a on:click={onMoreClicked}>
                    {$_("about.more")}
                  </a>
                </td>
              </tr>
            </tfoot>
          </table>
        {:else}
          <div class="more">
            <div class="is-size-2">
              {@html $_("about.title")}
            </div>
            <div class="bio">
              <div class="subtitle">
                {@html $_("about.desc")}
              </div>
            </div>
            <br />
            <div class="back">
              <!-- svelte-ignore a11y-missing-attribute -->
              <a
                on:click={() => {
                  more = false;
                }}
              >
                {$_("about.back")}
              </a>
            </div>
          </div>
        {/if}
      </div>
    </div>
  </div>

  <NextButton nextElement={l === "bg" ? "techs" : "story"} dark />
</section>

<style>
  tbody > tr > td {
    text-align: right;
  }
  tfoot > tr > td {
    text-align: center;
  }

  #about > div:first-child {
    justify-content: right;
    margin-right: 70px;
  }

  #about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  #bioParagraph {
    display: block;
    width: auto;
  }
  .is-size-2 {
    font-weight: normal;
  }

  .bio,
  .back {
    display: flex;
  }

  .bio div,
  .back a {
    flex-grow: 1;
    width: 0;
  }

  .back {
    text-align: center;
  }

  .more {
    display: inline-block;
  }

  #img {
    margin-left: 70px;
    padding: 0;
    overflow: hidden;
  }

  #img,
  #bioParagraph {
    transition-timing-function: ease-out;
    transition: transform 2s;
    transform: translateX(0px) translateY(0px);
  }

  #about:not(.visible) #img {
    transform: translateX(-90px);
    -webkit-transform: translateX(-90px);
  }
  #about:not(.visible) #bioParagraph {
    transform: translateX(+90px);
    -webkit-transform: translateX(+90px);
  }

  .selected-hobbie {
    color: #363636;
    background-color: #e8e7e7;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.6em;
    pointer-events: none;
  }

  @media screen and (max-width: 1024px) {
    #bioParagraph {
      margin-top: 20vh;
      text-align: justify;
      flex: 1;
      align-self: flex-center;
      margin-right: 0;
      padding-right: 0;
    }

    #about {
      display: flex;
      flex-direction: column;
    }

    .bio {
      padding: 20px;
    }

    .more .is-size-2 {
      padding: 20px;
      border-bottom: 2px solid #dbdbdb;
    }

    .table {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
</style>
