<script>
    import { createEventDispatcher } from "svelte";
    import { _ } from "svelte-i18n";

    import MessageContainer from "./MessageContainer.svelte";

    import { scrollToElement } from "../../../../utils/scroll";

    export let message;
    export let disabled;

    const dispatch = createEventDispatcher();

    const onDismiss = () => {
        dispatch("dismissed");
    };

    const goToSection = (id) => {
        scrollToElement(id);
    };
</script>

<MessageContainer
    {disabled}
    title={message.title}
    on:dismissed={onDismiss}
    noOkButton={true}
>
    <p class="mb-2">
        {@html message.mainText}
    </p>

    <p class="mb-4">{message.gotoNextSectionText}</p>

    <div class="columns">
        <div class="column">
            <!-- svelte-ignore a11y-missing-attribute -->
            <a on:click={goToSection.bind(this, "techs")}>Technologies</a>
        </div>
        <div class="column has-text-grey-light">AND</div>
        <div class="column">
            <!-- svelte-ignore a11y-missing-attribute -->
            <a on:click={goToSection.bind(this, "projects")}>Projects</a>
        </div>
    </div>

    <div class="divider mt-3 mb-5">OR</div>

    {#if message.continueText}
        <p class="mb-3">{message.continueText}</p>
    {/if}

    <div class="mt-2 is-flex is-justify-content-center">
        <button on:click={onDismiss} class="button is-text is-warning px-5"
            >{$_("story.buttons.continue")}</button
        >
    </div>
</MessageContainer>

<style>
    .divider {
        width: 100%;
        text-align: center;
    }
    .divider::before,
    .divider::after {
        content: "";
        height: 1px;
        border: 1px solid #ffe08a;
        width: 40%;
        display: inline-block;
    }

    .divider::before {
        margin-right: 0.5em;
    }
    .divider::after {
        margin-left: 0.5em;
    }

    .column:nth-child(2) {
        text-align: center;
    }
    .column:first-child {
        text-align: right;
    }
</style>
