<script>
    import { createEventDispatcher } from "svelte";
    import MessageContainer from "./MessageContainer.svelte";

    import ModalImage from "../../../UI/ModalImage.svelte";

    export let message;
    export let disabled;

    const dispatch = createEventDispatcher();

    const onDismiss = () => {
        dispatch("dismissed");
    };
</script>

<MessageContainer
    {disabled}
    title={message.title}
    on:dismissed={onDismiss}
    titleContainerStyles="mt-3"
>
    <div class="is-flex">
        <!-- left column -->
        <div class="column mr-2">
            <p>
                {@html message.text}
            </p>
        </div>

        <!-- right (img)  column-->
        <div class="column ml-2 is-hidden-touch imageColumn">
            <figure class="image is-4by3">
                <ModalImage
                    src={message.image}
                    alt={message.imageAlt}
                    container_width={"55vw"}
                />
            </figure>
        </div>
    </div>
</MessageContainer>

<style>
    .column {
        flex: 1;
    }

    .imageColumn {
        padding: 0em;
        overflow: hidden;
    }

    .image{
       overflow: hidden;
       border-radius: 4px;
    }
</style>
