<script>
    import { createEventDispatcher } from "svelte";
    import { _ } from "svelte-i18n";

    export let message;
    export let disabled = false;

    const dispatch = createEventDispatcher();

    let instructionIndex = 0;

    const videoWidth = parseInt(message.boxWidth) - 50;
    const videoHeight = videoWidth * (9 / 16);

    const handleBackClick = () => {
        instructionIndex--;
        if (instructionIndex < 0) {
            instructionIndex = 0;
        }
    };

    const handleNextClick = () => {
        instructionIndex++;
        if (instructionIndex >= message.instructions.length) {
            instructionIndex = message.instructions.length - 1;
        }
    };

    const handleKeydown = ({ key }) => {
        if (disabled) return;

        if (key === "Escape"){
            onDismiss();
            return;
        } 
        
        if ("Enter" !== key) return;
        if (instructionIndex >= message.instructions.length - 1) {
            onDismiss();
            return;
        }
        instructionIndex++;
    };

    const onDismiss = () => {
        dispatch("dismissed");
    };
</script>

<svelte:window on:keydown={handleKeydown} />

<article class="message is-warning">
    <div class="message-body">
        <div class="is-flex is-justify-content-space-between mt-2 mb-5 ">
            <div class="is-size-4">{$_("story.titles.instructions")}</div>
            <button on:click={onDismiss} class="delete" aria-label="delete" />
        </div>

        {#key instructionIndex}
            <video
                style={`height:${videoHeight}px; width:${videoWidth}px`}
                poster={message.instructions[instructionIndex].poster}
                class="mb-5"
                autoplay="true"
                loop="true"
                muted="true"
            >
                <track kind="captions" />
                <source
                    src={message.instructions[instructionIndex].video}
                    type="video/mp4"
                />
                {$_("story.mediaAlt.instructionVideo")}
            </video>
        {/key}

        {@html message.instructions[instructionIndex].text}

        <div
            class="is-flex mx-2is-flex mt-6 mb-2 mx-3 is-justify-content-space-between"
        >
            <!-- Left button -->
            <div>
                {#if instructionIndex > 0}
                    <button on:click={handleBackClick} class="button is-text"
                        >{$_("story.buttons.previous")}</button
                    >
                {/if}
            </div>

            <!-- Right button -->
            <div>
                {#if instructionIndex < message.instructions.length - 1}
                    {#key instructionIndex}
                        <button on:click={onDismiss} class="button  is-text"
                            >{$_("story.buttons.skip")}</button
                        >
                        <button
                            on:click={handleNextClick}
                            class="button is-warning is-text"
                            >{$_("story.buttons.next")}</button
                        >
                    {/key}
                {:else}
                    <button
                        on:click={onDismiss}
                        class="button is-warning is-text"
                        >{$_("story.buttons.continue")}</button
                    >
                {/if}
            </div>
        </div>
    </div>
</article>
