<script>
    import { createEventDispatcher } from "svelte";
    import { _ } from "svelte-i18n";

    export let title;
    export let titleContainerStyles = null;
    export let noOkButton = false;
    export let disabled = false;

    const dispatch = createEventDispatcher();

    const onDismiss = () => {
        if (disabled) return;
        dispatch("dismissed");
    };
</script>

<article class="message is-warning">
    <div class="message-body">
        <div
            class={"is-flex is-justify-content-space-between mb-5 " +
                titleContainerStyles}
        >
            <div class="is-size-4">
                {title}
            </div>
            <button on:click={onDismiss} class="delete" aria-label="delete" />
        </div>

        <!-- Main content -->
        <slot />

        {#if !noOkButton}
            <div class="mt-4 is-flex is-justify-content-flex-end">
                <button
                    on:click={onDismiss}
                    class="button is-text is-warning px-5"
                    >{$_("story.buttons.continue")}</button
                >
            </div>
        {/if}
    </div>
</article>

<style>
    .delete {
        z-index: 150;
    }
</style>
