<script>
    import { createEventDispatcher } from "svelte";

    import MessageContainer from "./MessageContainer.svelte";

    export let message;
    export let disabled;

    const dispatch = createEventDispatcher();

    const onDismiss = () => {
        dispatch("dismissed");
    };
</script>

<MessageContainer {disabled} title={message.title} on:dismissed={onDismiss}>
    <div class="columns">
        <div class="text column">
            <p>
                <i class={message.icon + " fas"} />
                {@html message.text}
            </p>
        </div>

        {#if message.bullets}
            <div class="pr-3 column is-two-fifths">
                {#each message.bullets as bullet}
                    <div>
                        <span class="icon">
                            <i class="fas fa-hand-sparkles" />
                        </span>
                        {bullet}
                    </div>
                {/each}
            </div>
        {/if}
    </div>
</MessageContainer>

<style>
    .text {
        text-align: justify;
    }
</style>
