<!-- 
    //https://www.scribblemaps.com/create/#id=8eURTFXpxI
    //https://www.scribblemaps.com/maps/view/RoadTripBalkans/8eURTFXpxI
    //https://www.scribblemaps.com/api/maps/images/450/450/8eURTFXpxI.png

    // MAP IDs
    // DiscoEU - ZX5f3nzAz6
    // DiscoBalkan - 8eURTFXpxI
    // Erasmus - 4Cz4TIhr16 
    // Central Asia - QSDzrqj0ST
-->
<script>
    import { createEventDispatcher } from "svelte";
    import { _ } from "svelte-i18n";
    import ModalImage from "../../../UI/ModalImage.svelte";
    import MessageContainer from "./MessageContainer.svelte";
    import { text } from "svelte/internal";

    export let message;
    export let disabled;

    const TRAVELS = {
        discoEU: "DISCOVER_EU",
        balkan: "BALKAN",
        erasmus: "ERASMUS",
        asia: "ASIA",
    };

    const baseUrl = "/story/";

    const trips = {
        [TRAVELS.discoEU]: {
            text: $_("story.messages.travel.discoEU"),
            linkText: "DiscoverEU",
            linkHref: "https://europa.eu/youth/discovereu_en",
            map: baseUrl + "disco_map.png",
            scene: baseUrl + "dico_scene.jpg",
            altMap: $_("story.mediaAlt.travelDiscoEUMap"),
            altScene: $_("story.mediaAlt.travelDiscoEUScene"),
        },
        [TRAVELS.balkan]: {
            text: $_("story.messages.travel.balkan"),
            map: baseUrl + "balkan_map.png",
            scene: baseUrl + "balkan_scene.jpg",
            altMap: $_("story.mediaAlt.travelBalkanMap"),
            altScene: $_("story.mediaAlt.travelBalkanScene"),
        },
        [TRAVELS.erasmus]: {
            text: null,
            textEnd: $_("story.messages.travel.erasmus"),
            linkHref: "https://erasmus-plus.ec.europa.eu/",
            linkText: "Erasmus+",
            map: baseUrl + "erasmus_map.png",
            scene: baseUrl + "erasmus_scene.jpg",
            altMap: $_("story.mediaAlt.travelErasmusMap"),
            altScene: $_("story.mediaAlt.travelErasmusScene"),
        },
        [TRAVELS.asia]: {
            text: $_("story.messages.travel.asia"),
            map: baseUrl + "asia_map.png",
            scene: baseUrl + "asia_scene.jpg",
            altMap: $_("story.mediaAlt.travelErasmusMap"),
            altScene: $_("story.mediaAlt.travelErasmusScene"),
        },
    };

    let currentTravel = null;

    const changeCurrentTravel = (t) => {
        currentTravel = t;
    };

    const dispatch = createEventDispatcher();

    const onDismiss = () => {
        if (disabled) return;
        dispatch("dismissed");
    };
</script>

<MessageContainer
    title={message.title}
    on:dismissed={onDismiss}
    titleContainerStyles="mt-3"
>
    <div class="is-flex">
        <!-- left column -->
        <div class="column mr-2">
            <span>
                {$_("story.messages.travel.line1")}
            </span>
            <br /><br />
            <ul>
                {#each Object.entries(trips) as [key, trip], index}
                    <li class="mb-2">
                        {index + 1}. {trip.text ?? ""}
                        {#if trip.linkText}
                            <a target="_blank" href={trip.linkHref}
                                >{trip.linkText}</a
                            >
                        {/if}
                        {trip.textEnd ?? ""}
                        .
                        <a
                            on:click={changeCurrentTravel.bind(this, key)}
                            class="ml-3 tag is-link"
                            href={null}>Show me!</a
                        >
                    </li>
                {/each}
            </ul>
            <br />
            {$_("story.messages.travel.line2")}
        </div>

        <!-- right (img)  columns-->
        <div class="column ml-2 is-hidden-touch imageColumn">
            {#if currentTravel}
                {#key currentTravel}
                    <figure class="image is-16by9 box">
                        <ModalImage
                            src={trips[currentTravel].map}
                            alt={trips[currentTravel].altMap}
                            container_width={"70vw"}
                            width={500}
                            height={300}
                        />
                    </figure>
                    <figure class="image is-16by9 box">
                        <ModalImage
                            src={trips[currentTravel].scene}
                            alt={trips[currentTravel].altScene}
                            container_width={"70vw"}
                            width={500}
                            height={300}
                        />
                    </figure>
                {/key}
            {:else}
                <figure class="image is-3by4">
                    <img
                        src="/story/car_mirror.jpg"
                        alt={$_("story.mediaAlt.travelHome")}
                    />
                </figure>
            {/if}
        </div>
    </div>
</MessageContainer>

<style>
    .column {
        flex: 1;
    }

    .imageColumn {
        padding: 0em;
        overflow: hidden;
    }
</style>
