<script>
    import { createEventDispatcher } from "svelte";
    import { _ } from "svelte-i18n";

    import {KEYS_FORWARD, KEYS_BACKWARD} from '../../../../utils/story';
    import { ACTIVITIES, logActivity } from "../../../../utils/activityLog";

    export let disabled = false;
    // svelte-ignore unused-export-let
    export let message = null;

    const dispatch = createEventDispatcher();

    const handleKeydown = ({ key }) => {
        if (disabled) return;
        if (KEYS_FORWARD.includes(key) || KEYS_BACKWARD.includes(key)) {
            logActivity(ACTIVITIES.storyMovedFrw);
            dispatch("dismissed");
        }
    };  
</script>

<svelte:window on:keydown={handleKeydown} />

<article class="message is-warning">
    <div class="message-body">
        <p class="is-size-4"> {$_("story.titles.welcome")}</p>
       
        <br />
        {$_("story.messages.welcome.body")}
        <br />
        <br />
        {@html $_("story.messages.welcome.keys")}

        <div class="buttons pt-5 pb-2">
            <span class="icon is-medium">
                <i class="fas fa-lg  fa-arrow-left" />
            </span>
            <span class="icon is-medium">
                <i class="fas fa-lg  fa-arrow-right" />
            </span>
            <span />
            <span class="icon is-medium">
                <span class="is-size-4 has-text-weight-bold">A</span>
            </span>
            <span class="icon is-medium">
                <span class="is-size-4 has-text-weight-bold">D</span>
            </span>
        </div>
    </div>
</article>

<style>
    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .icon {
        padding: 1.4em;
        background-color: #fff;
        border-radius: 4px;
        border-color: #b5b5b5;
        border-style: ridge;
        border-style: solid;
        border-width: 2px;
        color: #83adbd;
    }
</style>
