<script>
    import Story3d from "./Story3d.svelte";
    import Story2d from "./Story2d.svelte";
    import NextButton from "../UI/NextButton.svelte";

    import { isElementScrolledTo } from "../../utils/scroll";
    import { ACTIVITIES, logActivity } from "../../utils/activityLog";

    let render3d = false;
    let hide3d = false;

    const handleOpen3d = () => {
        logActivity(ACTIVITIES["3dStoryOpen"]);
        render3d = true;
        hide3d = false;
    };

    const handleClose3d = () => {
        hide3d = true;
    };

    //за trigger-ване на готината анимацийка
    let animationTrigered = false;
    const animationTrigger = () => {
        let scrolled = isElementScrolledTo("story", 3);
        if (scrolled) {
            animationTrigered = true;
        }
    };
</script>

<svelte:window on:scroll={animationTrigger} />

<section
    class="level is-block is-fullheight mb-0"
    style="height:100vh"
    id="story"
>
    {#if render3d}
        <div class:is-hidden={hide3d}>
            <Story3d forcePause={hide3d} on:open2d={handleClose3d} />
        </div>
    {/if}

    {#if !render3d || hide3d}
        <Story2d {animationTrigered} on:open3d={handleOpen3d} />
    {/if}
    <NextButton nextElement="techs" dark />
</section>
