<script>
    import { createEventDispatcher } from "svelte";
    import { _ } from "svelte-i18n";
    import Portal from "svelte-portal";

    import Spacing from "../UI/Spacing.svelte";
    import Button3d from "../UI/Button3d.svelte";
    import Timeline from "./Story2d/Timeline.svelte";

    export let animationTrigered;

    const dispatch = createEventDispatcher();

    const button_delay = 200; //ms
    let timer = null;

    let modalActive = false;

    const handle3dButtonClicked = () => {
        clearTimeout(timer);

        timer = setTimeout(() => {
            modalActive = true;
        }, button_delay);
    };

    $: if (modalActive) {
        setTimeout(()=>{
            document.documentElement.classList.add("is-clipped");
        },50);
    }

    $: if (!modalActive) {
        document.documentElement.classList.remove("is-clipped");
    }

    const handleCloseModal = () => {
        modalActive = false;
    };

    const handleOpen3d = () => {
        modalActive = false;
        dispatch("open3d");
    };
</script>

<div class="hero is-danger  is-bold is-fullheight">
    <div class="hero-body">
        <div class="container">
            <span class="title is-size-2"> {$_("storyShort.title")} </span>
            <br />
            <span class="subtitle">{$_("storyShort.subtitle")}</span>
            <Spacing spaces={4} />
            <div class="is-flex is-align-items-center">
                <div style="position:relative"> 
                    <Timeline scrollHinter={animationTrigered} />
                </div> 
               

             
                <div class="button-container is-hidden-touch">
                    <Button3d
                        {animationTrigered}
                        on:click={handle3dButtonClicked}
                        text={$_("storyShort.3dButton")}
                    />
                </div>
            </div>
        </div>
    </div>
</div>

<Portal target="body">
    <div class="modal" class:is-active={modalActive}>
        <div class="modal-background" />
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{$_("storyShort.modalTitle")}</p>
                <button
                    class="delete"
                    aria-label="close"
                    on:click={handleCloseModal}
                />
            </header>
            <section class="modal-card-body">
                {@html $_("storyShort.modalBodyMain")}
                <br />
                <b>
                    <span class="icon-text">
                        <span class="mt-1"> {$_("storyShort.modalBodyPerfWarning")}</span>
                        <span class="icon">
                            <span class="is-size-4">🐌</span>
                            <!-- <i class="far fa-turtle"></i> -->
                        </span>
                    </span>
                </b>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" on:click={handleOpen3d}
                    >{$_("storyShort.modalContinueButton")}</button
                >
                <button class="button" on:click={handleCloseModal}
                    >{$_("storyShort.modalCloseButton")}</button
                >
            </footer>
        </div>
    </div>
</Portal>

<style>
    .button-container {
        width: 35em;
        text-align: center;
    }

   
</style>
