<script>
  import _ from "lodash";
  import { _ as i18n } from "svelte-i18n";

  import { isElementScrolledTo } from "../../utils/scroll.js";
  import { getEngineeringProjects } from '../../utils/engineeringProjects.js';
  import { ACTIVITIES, logActivity } from "../../utils/activityLog.js";
  import Projects from "../Projects/Projects.svelte";
  import NextButton from "../UI/NextButton.svelte";
    import { HtmlTag } from "svelte/internal";


  //за trigger-ване на готината анимацийка
  let animationTriggered = false;
  let showStack = false;
  const projects = getEngineeringProjects($i18n);

  let toggleStack = ({detail:project=null}) => {
    if (showStack !== false) {  
      showStack = false;
      return;
    } 
    showStack = project;
    logActivity(ACTIVITIES.engineeringSkillStackOpen);
  };

  $: if (showStack !== false) {
    setTimeout(()=>{
      document.documentElement.classList.add("is-clipped");
    },50);
  }
  $: if (showStack === false) {
    document.documentElement.classList.remove("is-clipped");
  }


  const animationTrigger = () => {
    let scrolled = isElementScrolledTo("engineering-projects", 20);

    if (scrolled) {
      animationTriggered = true;
    }
  };

</script>

<!-- Engineering Projects -->
<svelte:window on:scroll={animationTrigger} />

<section id="engineering-projects" class="hero is-bold is-light is-fullheight">
  <div class="hero-body">
    <Projects
     on:toggleStack={toggleStack} 
     projects={projects}  
     stackIcon={"fas fa-tools"}
     animationTriggered={animationTriggered}
     title={$i18n('engineeringProjects.title')}
     subTitle={$i18n('engineeringProjects.subtitle')}
     showStackHint={$i18n('engineeringProjects.stack')}

     />
  </div>
  <div class="nextButton">
    <NextButton nextElement="hire" dark />
  </div>
</section>

<!-- Modal със stack-a -->
<div class="modal px-2" class:is-active={showStack !== false}>
  <div class="modal-background" />
  <div class="modal-content">
    <div class="box">
      <div class="title">{$i18n("engineeringProjects.modalTitle")}</div>

      {#if showStack!==false}
      <div class="has-text-weight-semibold is-size-5">{$i18n("engineeringProjects.tools")}</div>
      <span>{projects[showStack].tools}</span>

      <div class="mt-3 has-text-weight-semibold is-size-5">{$i18n("engineeringProjects.knowledge")}</div>
      <span>{@html projects[showStack].skills}</span>  
      {/if}
      
      
      <div class="mt-3 button is-fullwidth is-light" on:click={toggleStack}>
        {$i18n("engineeringProjects.close")}
      </div>
    </div>
  </div>
  <button
    on:click={toggleStack}
    class="modal-close is-large"
    aria-label="close"
  />
</div>

<style>
  .nextButton {
    margin-top: -3rem;
    margin-bottom: 1rem;
  }


  @media screen and (min-width: 1029px) {
    .nextButton {
      margin-top: 0.8rem;
      margin-bottom: 2rem;
    }
  }
</style>
