<script>
  import { _ } from "svelte-i18n";
  import ChangeLocale from "../../i18n/ChangeLocale.svelte";
  import { scrollToElement } from "../../utils/scroll";
  import { ACTIVITIES, logActivity } from "../../utils/activityLog";

  let opened = false;
  let toggle = () => {
    opened = !opened;
  };

  const goToSection = (id) => {
    const sectionsLogEventsMap = {
      about: ACTIVITIES.navAbout,
      story: ACTIVITIES.navBackground,
      techs: ACTIVITIES.navTechs,
      hire: ACTIVITIES.navHire,
      "software-projects"   : ACTIVITIES.navSoftwareProjects,
      "engineering-projects": ACTIVITIES.navEngineeringProjects,
    };
    logActivity(sectionsLogEventsMap[id]);
    scrollToElement(id);
  };

  //TODO: REMOVE WHEN STORY IS TRANSLATED
  import { locale } from "svelte-i18n";
  let l;
  locale.subscribe((v) => {
    l = v;
  });
</script>

<nav class="navbar is-spaced is-transparent has-text-centered">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/logo.svg" alt="logo" />
    </a>
    <div
      on:click={toggle}
      class:is-active={opened}
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
    >
      <span aria-hidden="true" />
      <span aria-hidden="true" />
      <span aria-hidden="true" />
    </div>
  </div>

  <div class="navbar-menu" class:is-active={opened}>
    <div class="container">
      <span
        on:click={goToSection.bind(this, "about")}
        class="navbar-item is-family-primary">{$_("nav.about")}</span
      >

      {#if l !== "bg"}
        <span
          on:click={goToSection.bind(this, "story")}
          class="navbar-item is-family-primary">{$_("nav.story")}</span
        >
      {/if}

      <span
        on:click={goToSection.bind(this, "techs")}
        class="navbar-item is-family-primary">{$_("nav.techs")}</span
      >
      <span
        on:click={goToSection.bind(this, "software-projects")}
        class="navbar-item is-family-primary">{$_("nav.softwareProjects")}</span
      >
      <span
        on:click={goToSection.bind(this, "engineering-projects")}
        class="navbar-item is-family-primary">{$_("nav.engineeringProjects")}</span
      >
      <span
        on:click={goToSection.bind(this, "hire")}
        class="navbar-item is-family-primary">{$_("nav.contact")}</span
      >
    </div>
    <div class="navbar-end">
      <ChangeLocale />
    </div>
  </div>
</nav>

<style>
  .navbar-item {
    cursor: pointer;
  }

  nav.navbar {
    position: absolute;
    width: 100%;
    top: 0px;
    background: none;
  }

  .container {
    display: block;
  }

  .container span {
    color: #f5f5f5;
    text-transform: uppercase;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 700;
    display: inline-block;
    margin-top: 10px;
  }

  .container span:hover {
    color: #ffcc24;
  }

  /* eslint-disable css-unused-selector */
  .navbar-burger {
    margin-left: auto;
  }

  @media screen and (max-width: 1024px) {
    .container span {
      display: block;
    }
    nav.navbar {
      background: white;
    }

    .container span {
      color: #4a4a4a;
    }

    .navbar-burger span {
      height: 1.7px;
    }

    /*За анимиацийката при отварянето*/
    .navbar-menu {
      overflow: hidden;
      display: block !important;
      transform-origin: top left;
      transition-timing-function: ease-out;
      margin-top: -1rem;
      transition:
        opacity 0.5s,
        height 0.3s,
        transform 0.6s,
        margin-top 0.6s;
    }

    .navbar-menu:not(.is-active) {
      opacity: 0;
      height: 0;
    }

    .navbar-menu.is-active {
      margin-top: 0;
      opacity: 1;
      height: 25em;
    }
  }
</style>
