<script>
    import { createEventDispatcher } from "svelte";
    import { _ } from "svelte-i18n";

    import { credits } from "../../../utils/credits";

    const dispatch = createEventDispatcher();
</script>

<div class="message-conainer">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Credits <i class="fab fa-creative-commons" />
            </p>
        </header>
        <section class="modal-card-body">
            {$_("story.credits")}

            <div class="mt-3">
                <ul>
                    {#each credits as item}
                        <li>
                            {item.Name}
                            {#if item["CC-BY"]}
                                <a
                                    target="_blank"
                                    href="https://creativecommons.org/licenses/by/3.0/"
                                    >[CC-BY]</a
                                >
                            {/if}
                            via
                            <a target="_blank" href={item.Link}
                                >{item.LinkName}</a
                            >
                        </li>
                    {/each}
                </ul>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button on:click={()=>{dispatch("close")}} class="button is-fullwidth"
                >Close</button
            >
        </footer>
    </div>
</div>

<style>
    .message-conainer {
        display: flex;
        width: 100%;
        height: 100vh;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: rgba(100, 100, 100, 0.8);
        z-index: 11;
    }
</style>
