<script>
    import { createEventDispatcher } from "svelte";

    const dispatch = createEventDispatcher();
</script>

<div class="mb-5">
    <button on:click={() => {dispatch("click")}} class="button is-is-small is-rounded">
        <span class="icon">
            <i class="fab fa-creative-commons" />
        </span>
    </button>
</div>

<style>
    .button{
        pointer-events: all;
    }
</style>
