<script>
    import { createEventDispatcher } from "svelte";
    import { fade } from "svelte/transition";

    export let message;
    export let disabled = false;
    let visible = true;

    const dispatch = createEventDispatcher();

    $: if (message) {
        visible = true;
    }

    $: {
        dispatch("visibleChanged", visible);
    }

    const handleKeydown = ({ key }) => {
        if (disabled) return;

        if (message.dismissOnSpace) {
            if (["Enter", "Escape"].includes(key)) {
                visible = false;
            }
        }
    };
</script>

<svelte:window on:keydown={handleKeydown} />

{#if visible}
    <div id="message-conainer" in:fade={{ duration: 200 }}>
        <div style={`max-width:${message.boxWidth}`} class="px-3">
            <svelte:component
                this={message.component}
                {disabled}
                on:dismissed={() => {
                    visible = false;
                }}
                {message}
            />
        </div>
    </div>
{/if}

<style>
    #message-conainer {
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: rgba(100, 100, 100, 0.4);
        position: absolute;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
</style>
