<script>
    import { createEventDispatcher } from "svelte";
    import { _ } from "svelte-i18n";


    const dispatch = createEventDispatcher();

    const handleRecenter = () => {
        dispatch("recenter");
    };

    const handleGoto2D = () => {
        dispatch("goto2D");
    };
</script>

<div class="message-conainer">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{$_("story.scrollAway.title")}</p>
        </header>
        <section class="modal-card-body">
            {$_("story.scrollAway.body")}
        </section>
        <footer class="modal-card-foot">
            <button on:click={handleRecenter} class="button is-success px-5"
                >{$_("story.scrollAway.recenter")}</button
            >
            <button on:click={handleGoto2D} class="button"
                >{$_("story.scrollAway.goto2d")}</button
            >
        </footer>
    </div>
</div>

<style>
    .message-conainer {
        display: flex;
        width: 100%;
        height: 100vh;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: rgba(100, 100, 100, 0.8);
        z-index: 11;
    }
</style>
