<script>
    import { createEventDispatcher } from "svelte";
    import Slider from "@bulatdashiev/svelte-slider";
    import handle from "@bulatdashiev/svelte-slider/src/slider";
    import { _ as i18n, json as i18nJson } from "svelte-i18n";
    import _ from "lodash";

    import { getMessages } from "../../../utils/3dMessages";
    import {
        getStopsProps,
        calculateSliderValue,
        calculatePlayerPosition,
    } from "../../../utils/slider";
    import { ACTIVITIES, logActivity } from "../../../utils/activityLog";

    

    export let playerPosition = 0;

    const dispatch = createEventDispatcher();

    let value = [0, 100];
    let eventValue = 0;

    const messages = getMessages($i18n, $i18nJson);
    const stopsProps = getStopsProps();

    $: value = [calculateSliderValue(playerPosition), 100];

    const positionChangeHandler = () => {
        dispatch("changed", {
            playerPosition: calculatePlayerPosition(eventValue),
            sliderValue: eventValue,
        });
        value = [eventValue, 100];
    
        logActivity(ACTIVITIES.strSliderUsed);
    };

    const onInputHandler = ({ detail }) => {
        eventValue = detail[0];
    };

    const iconClickHandler = (index) => {
        const v  = index* 100/stopsProps.length + 50/stopsProps.length;
        value = [v, 100];
        dispatch("changed", {
            playerPosition: calculatePlayerPosition(v),
            sliderValue: v,
        });
        logActivity(ACTIVITIES.strSliderUsed);
    };
</script>

<div>
    <div
        class="stops-contaner"
        style={`grid-template-columns: repeat(${stopsProps.length}, ${
            100 / stopsProps.length
        }%);`}
    >
        {#each stopsProps as stop, index}
            <div class="stop">
                <div
                    class="stick"
                    class:tall={index % 2 == 0}
                    class:short={index % 2 != 0}
                    on:click={iconClickHandler.bind(this, index)}
                />
                <div
                    on:click={iconClickHandler.bind(this, index)}
                    class="stop-icon icon is-medium has-background-grey-lighter"
                >
                    <i class={stop.icon + " fas fa-lg has-text-grey-dark"} />
                </div>

                <div class="stop-tooltip has-text-white">
                    {messages[stop.key]?.title}
                </div>
            </div>
        {/each}
    </div>

    <div class="slider-container">
        <Slider bind:value on:input={onInputHandler}>
            <div use:handle class="thumb" on:dragend={positionChangeHandler}>
                <span class="icon is-large map-marker">
                    <i class="fas fa-4x fa-map-marker has-text-danger" />
                </span>
                <span class="icon is-medium bike-icon">
                    <i class="fas fa-2x fa-bicycle has-text-white" />
                </span>
            </div>
        </Slider>
    </div>
</div>

<style>
    .slider-container {
        --track-bg: #ebebeb;
        --progress-bg: #ffdd57;
        --thumb-bg: #fd5757;
        margin-top: -13.4em;
    }

    .stops-contaner {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 3.00em;
        align-items: center;
        display: grid;
        grid-template-rows: auto;
        align-items: start;
    }
    .stop {
        display: flex;
        align-items: center;
        justify-content: top;
        flex-direction: column;
    }

    .stop-tooltip {
        margin-left: -50px;
        margin-right: -50px;
        text-align: center;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px;
        padding: 5px 5px 5px 5px;
        opacity: 0;
        background-color: #555;
        transition: opacity 0.5s;
    }

    .stop > *:hover ~ .stop-tooltip {
        opacity: 1;
        z-index: 100;
    }

    .stick:hover ~ :not(.stop-tooltip),
    .stop-icon:hover ~ :not(.stop-tooltip),
    .stop-icon:hover,
    .stick:hover {
        border: 1px solid #fff;
        cursor: pointer;
    }

    .stop-icon {
        padding: 5px;
        border-radius: 10px 10px 10px 10px;
        z-index:3;
        pointer-events: all;
    }   

    .stick {
        width: 4px;
        border-radius: 2px 2px 2px 2px;
        background-color: #ebebeb;
        margin-bottom: 4px;
        pointer-events: all;
    }

    .stick.tall {
        height:4em;
    }

    .stick.short {
        height: 2.8em;
    }

    .thumb .bike-icon {
        top: -3.8em;
        position: relative;
        left: 0.56em;
    }

    .thumb .map-marker {
        top: -0.8em;
        position: relative;
        transform: rotate(180deg);
    }

    .thumb {
        cursor: pointer;
        width: 40px;
        margin-top: 40px;
        height: 40px;
        padding-right: 46px;
        z-index:4;
        pointer-events: all;
    }

    :global(.progress) {
        width: auto;
        height: 0.5em;
    }
</style>
