<script>
    import { circInOut } from "svelte/easing";
    import _ from "lodash";
    import { _ as i18n } from "svelte-i18n";

    import icons from "../../../utils/icons.js";

    export let techs;

    let opened = true;

    $: unlocked = _.filter(techs, "unlocked");

    const numberOfColumns = Math.floor(Math.sqrt(techs.length));
    const numberOfRows = Math.ceil(techs.length / numberOfColumns);
    const transitionContainerHeight = numberOfRows * 3.175; //in em

    const handleOnClick = () => {
        opened = !opened;
    };

    const openTransition = (_, params) => {
        return {
            delay: params.delay || 0,
            duration: params.duration || 400,
            easing: params.easing || circInOut,
            css: (t, u) => `height: ${transitionContainerHeight * t}em`,
        };
    };
</script>

<div class="overlay-container">
    <div class="m-4">
        <div class="button is-normal is-fullwidth" on:click={handleOnClick}>
            <span class="icon has-text-primary">
                <i class="fas fa-trophy" />
            </span>

            <span
                >Techs learned
                <span class="has-text-weight-medium"
                    >{unlocked.length}/{techs.length}</span
                >
            </span>

            <span class="icon is-small">
                {#if opened}
                    <span>
                        <i class="fas fa-angle-up" />
                    </span>
                {:else}
                    <span>
                        <i class="fas fa-angle-down" />
                    </span>
                {/if}
            </span>
        </div>
    </div>

    {#if opened}
        <div class="grid-outer-container" transition:openTransition>
            <div
                id="tech-grid"
                style={`grid-template-columns: repeat(${numberOfColumns}, auto);`}
                class="mx-4 my-2 box has-background-light"
            >
                {#each techs as tech}
                    <div class:locked={!tech.unlocked}>
                        <div
                            class={`icon svg ${tech.unlocked ? "tooltip" : ""}`}
                        >
                            <img
                                src={"/icons/" + icons[tech.icon].file}
                                alt={`${$i18n("general.iconFor")} ${tech.name}`}
                            />

                            {#if tech.unlocked}
                                <span class="tooltiptext" style="z-index:99999"
                                    >{tech.name}</span
                                >
                            {/if}
                        </div>
                    </div>
                {/each}
            </div>
        </div>
    {/if}
</div>

<style>
    .overlay-container {
        position: absolute;
        right: 0;
        min-width: 21em;
    }

    .grid-outer-container {
        overflow-y: hidden;
    }

    .grid-outer-container:hover{
        overflow-y: visible;
        margin-top: 1.5em;
    }

    #tech-grid {
        display: grid;
        justify-content: end;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }

    .locked {
        filter: grayscale(1);
        opacity: 0.4;
    }

    .tooltiptext {
        margin-left: -114px;
    }
</style>
