<script>
    import Slider from "@bulatdashiev/svelte-slider";
    import { createEventDispatcher } from "svelte";
    import { quadIn } from "svelte/easing";
    import { INITIAL_VOLUME } from "../../../utils/volume";

    const dispatch = createEventDispatcher();

    const ICONS = {
        off: "fa-volume-off",
        up: "fa-volume-up",
        mute: "fa-volume-mute",
        down: "fa-volume-down",
    };

    let value = [INITIAL_VOLUME * 100, 100];
    let active = false;
    let volumeIcon = ICONS.up;
    let isMuted = false;

    // Transition function
    const scale = (_, params) => {
        const width = (t) => {
            return 20 + t * 80;
        };

        return {
            delay: params.delay || 0,
            duration: params.duration || 300,
            easing: params.easing || quadIn,
            css: (t) => `width: ${width(t)}%;`,
        };
    };

    $: {
        volumeIcon = isMuted
            ? ICONS.mute
            : value[0] <= 2
            ? ICONS.off
            : value[0] < 50
            ? ICONS.down
            : ICONS.up;
    }

    $: volumeParamsChanged(value[0], isMuted);

    const onMouseEnter = () => {
        active = true;
    };

    const onMouseLeave = () => {
        active = false;
    };

    const onClick = () => {
        isMuted = !isMuted;
    };

    const onInput = () => {
        isMuted = false;
    };

    const volumeParamsChanged = (volume, isMuted) => {
        if (isMuted) {
            dispatch("change", 0);
            return;
        }
        dispatch("change", volume / 100);
    };
</script>

<div
    on:mouseenter={onMouseEnter}
    on:mouseleave={onMouseLeave}
    class="volume-container is-flex is-flex-direction-row is-justify-content-flex-end"
    class:short={!active}
>
    <div class="outer-slider-container">
        {#if active}
            <div
                class="slider-container has-background-warning px-2 pt-1"
                in:scale
            >
                <Slider bind:value on:input={onInput} />
            </div>
        {/if}
    </div>

    <button
        class="button is-rounded is-warning is-medium"
        class:opened={active}
        on:click={onClick}
        on:keydown|preventDefault={()=>{}}
    >
        {#key volumeIcon}
            <span class="icon is-medium">
                <i class={`fa-lg fas ${volumeIcon}`} />
            </span>
        {/key}
    </button>
</div>

<style>
    .volume-container {
        width: 15rem;
    }

    .volume-container.short {
        width: auto;
    }

    .slider-container {
        border-radius: 1.5rem 0 0 1.5rem;
        width: 100%;
        height: 100%;
        float: right;

        --progress-bg: #ff8787;
        --thumb-bg: #fd5757;
    }

    .outer-slider-container {
        width: 100%;
    }

    .button {
        transition: border-radius 400ms ease-in-out 0;
    }

    .button.opened {
        border-radius: 0 1.5rem 1.5rem 0;
    }
</style>
