<script>
  import { _ } from "svelte-i18n";
  import ChangeLocale from "../../i18n/ChangeLocale.svelte";
  import { scrollToElement } from "../../utils/scroll";

  const yearNow = new Date().getFullYear();

  const goToTop = ()=>{
    scrollToElement("banner")
  } 
</script>

<footer class="footer has-background-dark">
  <div class="content has-text-centered">
    <p class="has-text-light">
      <strong>KolioDev</strong>
      {$_("foot.descLine0")}
      <strong>{$_("about.myName")}</strong>{$_("foot.descLine1")}
      <br />
      {$_("foot.sourceUnder")}
      <a target="blank" href="http://opensource.org/licenses/mit-license.php">
        MIT
      </a>
      {$_("foot.contentUnder")}
      <a
        target="blank"
        href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
      >
        CC BY NC SA 4.0
      </a>
      {$_("foot.license")}
      <br />
      &copy;2019 - {yearNow}
      <br /> <br />
      <ChangeLocale />
      <button class="button is-fullwidth is-light" on:click={goToTop}>
        <span class="icon">
          <i class="fas fa-arrow-up" />
        </span>
        <span>{$_("foot.back2top")}</span>
      </button>
    </p>
  </div>
</footer>

<style>
  .button {
    margin-bottom: -6rem;
    margin-top: +4rem;
  }

  strong {
    color: #fff;
  }

  a {
    color: #ffcc24;
  }
</style>
