<script>
  import { slide } from "svelte/transition";
  import { quintInOut } from "svelte/easing";
  import {_} from 'svelte-i18n';

  import SkillLevel from "../UI/SkillLevel.svelte";
  import icons from "../../utils/icons.js";
  import { getTechs } from "../../utils/techs.js";
  import { ACTIVITIES, logActivity } from "../../utils/activityLog";

  
  export let title;
  export let elements = [];
  const techs = getTechs($_);

  let opened = false;
  let toggle = () => {
    logActivity(ACTIVITIES.techExpand)
    opened = !opened;
    setTimeout(() => {
      document
        .getElementsByClassName(title)[0]
        .scrollIntoView({ behavior: "smooth", block: "center" });
    }, 350);
  };
</script>

<nav id="categories" class={"bd-categories " + title}>
  <div class="bd-category">
    <header class="bd-category-header">
      <strong class="bd-category-name ">
        {#if techs[title].icon}
          <span class="icon-text">
            <span class="icon svg">
              <img
                src={"/icons/" + icons[techs[title].icon].file}
                alt={`${$_("general.iconFor")} ${title.name}`}
              />
            </span>
          </span>
        {/if}
        {techs[title].name}
        <SkillLevel level={techs[title].level} />
      </strong>

      {#if elements.length > 0}
        <span on:click={toggle} class="bd-category-toggle">
          {#if opened}
            <span class="icon">
              <i class="fas fa-chevron-up" />
            </span>
          {:else}
            <span class="icon">
              <i class="fas fa-chevron-down" />
            </span>
          {/if}
        </span>
      {/if}
    </header>
    {#if elements.length > 0}
      {#if opened}
        <ul
          transition:slide={{ duration: 300, easing: quintInOut }}
          class="bd-category-list"
        >
          {#each elements as e}
            <li>
              <div>
                {techs[e].name}
                {#if techs[e].icon}
                  <span class="icon-text">
                    <span class="icon svg">
                      <img
                        src={"/icons/" + icons[techs[e].icon].file}
                        alt={`${$_("general.iconFor")} ${techs[e].name}`}
                      />
                    </span>
                  </span>
                {/if}
                <SkillLevel level={techs[e].level} />
              </div>
            </li>
          {/each}
        </ul>
      {/if}
    {/if}
  </div>
</nav>

<style>
  .bd-category-toggle {
    cursor: pointer;
  }
  ul {
    margin-left: 10px;
  }

  li {
    margin-top: 10px;
  }
</style>
