<script>
  import { _ } from "svelte-i18n";

  import { getCategories } from "../../utils/techs.js";
  import { isElementScrolledTo } from '../../utils/scroll';

  import Dropdown from "./Dropdown.svelte";
  
  import NextButton from "../UI/NextButton.svelte";
  import Spacing from "../UI/Spacing.svelte";
  

  const categories = getCategories($_);

  //за trigger-ване на готината анимацийка
  let animationTrigered = false;
  const animationTrigger = () => {
    let scrolled = isElementScrolledTo("techs", 20); 
    if (scrolled ) {
      animationTrigered = true;
    }
  };
</script>

<svelte:window on:scroll={animationTrigger} />
<!-- Технологии -->
<section id="techs" class="hero is-dark is-bold is-fullheight">
  <div class="hero-body">
    <div class="container">
      <span class="title is-size-2">{$_("techs.title")}</span>
      <br />
      <span class="subtitle">{$_("techs.subtitle")}</span>
      <Spacing spaces={4} />
      <section class="tile is-ancestor">
        {#each categories as category}
          <div
            class:visible={animationTrigered}
            class="tile is-parent is-4 stack"
            style="text-align: center;display: block;"
          >
            <div
              class="box"
              style="/*display: inline-block;text-align: left;*/"
            >
              <!-- Име на категорията -->
              <div class="title has-text-grey-dark is-size-2">
                {category.title}
              </div>
              <!-- Технологии в категорията -->
              {#each category.techs as tech}
                <Dropdown title={tech.title} elements={tech.subtechs} />
                <br />
              {/each}
            </div>
          </div>
        {/each}
      </section>
    </div>
  </div>

  <div class="pb-6">
    <NextButton nextElement="software-projects" />
  </div>
  
</section>

<style>
  @media screen and (min-width: 1029px) {
    .stack {
      transition-timing-function: ease-out;
      transition: transform 1s;
      transform: translateX(0px) translateY(0px);
    }

    .stack:nth-child(1):not(.visible) {
      transform: translateX(-70px) translateY(70px);
    }
    .stack:nth-child(3):not(.visible) {
      transform: translateX(70px) translateY(70px);
    }
    .stack:nth-child(2):not(.visible) {
      transform: translateY(-50px);
    }
  }
</style>
