<script>
  import { _ } from "svelte-i18n";
  import { onMount } from "svelte";

  import Navbar from "./Components/Navbar/Navbar.svelte";
  import About from "./Components/About/About.svelte";
  import Story from "./Components/Story/Story.svelte";
  import Technologies from "./Components/Techs/Technologies.svelte";
  import SoftwareProjects from "./Components/SoftwareProjects/SoftwareProjects.svelte";
  import EngineeringProjects from "./Components/EngineeringProjects/EngineeringProjects.svelte";
  import Hire from "./Components/Hire/Hire.svelte";
  import Banner from "./Components/Banner/Banner.svelte";
  import Footer from "./Components/Footer/Footer.svelte";
  import PageLoader from "./Components/PageLoader/PageLoader.svelte";

  import { ACTIVITIES, logActivity } from "./utils/activityLog";

  let myName = $_("about.myName");
  let title = myName;
  onMount(() => {
    setInterval(() => {
      title = title == myName ? "KolioDev" : myName;
    }, 3000);
  });

  let loading = true;
  const handleLoaded = () => {
    logActivity(ACTIVITIES.visit);
    loading = false;
  };

  //TODO: REMOVE WHEN STORY IS TRANSLATED
  import { locale } from "svelte-i18n";
  let l;
  locale.subscribe((v) => {
    l = v;
  });
</script>

<svelte:head>
  <title>{title}</title>
</svelte:head>

{#if loading}
  <PageLoader on:loaded={handleLoaded} />
{:else}
  <!-- Навигация -->
  <Navbar />

  <!-- Главното садържание -->
  <main>
    <!-- Banner със снимка -->
    <Banner />

    <!-- За мен -->
    <About />

    <!-- История и опит -->
    {#if l !== "bg"}
      <Story />
    {/if}

    <!--Технологии-->
    <Technologies />

    <!--Проекти (software)-->
    <SoftwareProjects/>

     <!--Проекти (engineering)-->
    <EngineeringProjects/>

    <!-- Наеми ме -->
    <Hire />
  </main>

  <!--Footer-->
  <Footer />
{/if}
