<script>
  import { createEventDispatcher } from "svelte";
  import { _ as i18n } from "svelte-i18n";
  import _ from "lodash";
  import CourseTableCell from "./CourseTableCell.svelte";
  import { TYPE_BEP, TYPE_OTHER } from "../../../../utils/unicourses";
  import { ACTIVITIES, logActivity } from "../../../../utils/activityLog";

  export let courses;
  let rowHovered = { hovered: false, rowIndex: -1 };
  const dispatch = createEventDispatcher();

  const ASC = "ASC";
  const DSC = "DSC";

  let sortedBy = null;
  let sortDirection = null;

  let avgGrade = _.round(
    _.mean(
      _.concat (_.filter(
        _.map(courses, (c) =>
          c.grade > 0 && c.type !== TYPE_OTHER ? c.grade : null,
        )
      ), [_.find(courses, {type:TYPE_BEP}).grade])
    ),
    2,
  ).toFixed(2);

  const columns = [
    {
      title: $i18n("storyShort.courseCode"),
      id: "code",
      defaultSortDirection: ASC,
    },
    {
      title: $i18n("storyShort.courseTitle"),
      id: "title",
      defaultSortDirection: ASC,
    },
    {
      title: $i18n("storyShort.courseGrade"),
      css: "has-text-right",
      id: "grade",
      defaultSortDirection: DSC,
    },
  ];

  const selectCourse = ({ detail }) => {
    dispatch("courseSelected", detail);
  };

  const sort = (by) => {
    if (sortedBy != by) {
      sortDirection = _.find(columns, (c) => c.id == by).defaultSortDirection;
      sortedBy = by;
      return;
    }
    sortedBy = by;
    sortDirection = sortDirection == DSC ? ASC : DSC;

    logActivity(ACTIVITIES.timelineCoursesSort);
  };

  $: if (sortedBy) {
    courses = _.sortBy(courses, [
      (c) => {
        if (sortedBy == "grade" && c[sortedBy] == "A") {
          return 9.9;
        }
        return c[sortedBy];
      },
    ]);
    if (sortDirection == DSC) {
      courses = _.reverse(courses);
    }
  }
</script>

<div class="grid-container pl-4 pr-3 py-3 has-background-warning">
  {#each columns as column}
    <div
      on:click={() => {
        sort(column.id);
      }}
      class={`has-text-weight-bold mb-1 px-1 is-clickable ${column.css ?? ""}`}
    >
      {column.title}
      <span class="icon-text">
        {#if sortedBy != column.id}
          <span class="icon"><i class="fas fa-sort"></i> </span>
        {:else if sortDirection == ASC}
          <span class="icon"><i class="fas fa-sort-amount-down-alt"></i></span>
        {:else}
          <span class="icon"><i class="fas fa-sort-amount-down"></i></span>
        {/if}
      </span>
    </div>
  {/each}
</div>

<div class="grid-container scrollable py-2">
  {#each courses as course, i}
    <CourseTableCell
      cssClass="pl-5 is-family-monospace py-1"
      rowIndex={i}
      {course}
      bind:hovered={rowHovered}
      on:click={selectCourse}
    >
      {course.code}
    </CourseTableCell>

    <CourseTableCell
      cssClass="px-1 py-1"
      rowIndex={i}
      {course}
      bind:hovered={rowHovered}
      on:click={selectCourse}
    >
      <!-- svelte-ignore a11y-missing-attribute -->
      <span class="has-text-link">{course.title} </span>
    </CourseTableCell>

    <CourseTableCell
      cssClass="pr-5  py-1 is-family-code has-text-right"
      rowIndex={i}
      {course}
      bind:hovered={rowHovered}
      on:click={selectCourse}
    >
      {course.grade == 0 ? '-' : course.grade}
    </CourseTableCell>
  {/each}
</div>

<div class="grid-container py-3 mb-1 has-background-grey-lighter">
  <div></div>
  <div></div>
  <div class="has-text-right pr-5">
    GPA <span class="ml-3 is-family-code">{avgGrade}</span>
  </div>
</div>

<style>
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 3.3fr 1fr;
    width: 100%;
  }

  .scrollable {
    max-height: 50vh;
    overflow-y: scroll;
  }
</style>
