<script>
    import { _ as i18n } from "svelte-i18n";
    import CourseType from "./CourseInfo/CourseType.svelte";
    import CourseLevel from "./CourseInfo/CourseLevel.svelte";
    import CourseLink from "./CourseInfo/CourseLink.svelte";
   
    export let course;

    const TAB_GENERAL = "GENERAL";
    const TAB_CONTENT = "CONTENT";
    const TAB_OBJECTIVE = "OBJECTIVE";

    let activeTab = TAB_GENERAL;
    let link;

    const order =$i18n("storyShort.courseYearOrders");

    const tabs = [
        {
            id: TAB_GENERAL,
            title: $i18n("storyShort.courseGeneralInfo"),
        },
        {
            id: TAB_CONTENT,
            title: $i18n("storyShort.courseContent"),
        },
        {
            id: TAB_OBJECTIVE,
            title: $i18n("storyShort.courseObjective"),
        },
    ];

   
</script>

<div class="tabs is-boxed">
    <ul>
        {#each tabs as tab}
            <li
                on:click={() => {
                    activeTab = tab.id;
                }}
                class={tab.id == activeTab ? "is-active" : ""}
            >
                <!-- svelte-ignore a11y-missing-attribute -->
                <a>
                    <span>{tab.title}</span>
                </a>
            </li>
        {/each}
    </ul>
</div>

{#if activeTab == TAB_GENERAL}
    <div class="columns mx-2 my-2">
        <div class="column column-grid">
            <!-- Type -->
            <div class="pt-1">
                <span class="is-family-primary has-text-weight-semibold"
                    >{$i18n("storyShort.courseType")}</span
                >
            </div>
            <div>
             <CourseType type={course.type}/>
            </div>

            <!-- Year -->
            <div class="pt-1">
                <span class="is-family-primary has-text-weight-semibold"
                    >{$i18n("storyShort.courseYear")}</span
                >
            </div>
            <div>
                <span
                    class="is-size-5 has-text-danger is-family-monospace has-text-weight-bold"
                >
                    {course.year}<sup>{order[course.year - 1]}</sup>
                </span>
            </div>

            <!-- Level -->
            {#if course.level>0}
            <div class="pt-1">
                <span class="is-family-primary has-text-weight-semibold"
                    >{$i18n("storyShort.courseLevel")}</span
                >
            </div>

            <CourseLevel level={course.level}/>
            {/if}
           
        </div>

        <div class="column column-grid">
            {#if course.grade !== 0 }
            <!-- Course grade -->
            <div class="pt-1">
                <span class="is-family-primary has-text-weight-semibold"
                    >{$i18n("storyShort.courseGrade")}</span
                >
            </div>
            <div>
                <span
                    class="is-size-5 is-family-monospace has-text-weight-bold"
                >
                    {#if isNaN(course.grade)}
                        {course.grade}
                    {:else}
                        {course.grade} / 10
                    {/if}
                    
                </span>
            </div>
            {:else}
            <div class="pt-1">
                <span class="is-family-primary has-text-weight-semibold"
                    >Course not completed</span
                >
            </div>
            {/if}

            <!-- Exam grade -->
            {#if course.final_exam_grade > 0}
            <div class="pt-1">
                <span class="is-family-primary has-text-weight-semibold"
                    >{$i18n("storyShort.courseExamGrade")}</span
                >
            </div>
            <div>
                <span
                    class="is-size-5 is-family-monospace has-text-weight-bold"
                >
                    {course.final_exam_grade.toFixed(1)} / 10
                </span>
            </div>
            {/if}
        </div>
    </div>

    <div class="is-pulled-right">
       <CourseLink linkType={course.linkType} year={course.year} code={course.code}/>
    </div>
{/if}

{#if activeTab == TAB_CONTENT}
    <div class="scrollable">
        <p>{@html course.content}</p>
    </div>
{/if}

{#if activeTab == TAB_OBJECTIVE}
    <div class="scrollable">
        <p>{@html course.objective}</p>
    </div>
{/if}


<style>
    .scrollable {
        overflow-y: scroll;
    }

    .column-grid {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        grid-gap: 1em 0em;
        width: 100%;
    }
</style>
