<script>
    import { createEventDispatcher } from "svelte";
    export let cssClass;
    export let rowIndex;
    export let course;

    export let hovered;

    const dispatch = createEventDispatcher();

    const handleOnClick = () => {
        dispatch("click", course);
    };

    const handleMouseOver = ()=>{
        hovered = {hovered:true, rowIndex}
    }

    const handleMouseOut = ()=>{
        hovered =   {hovered:false,rowIndex}
    }
</script>

<div
    class={`is-clickable ${cssClass} ${(hovered.hovered &&   hovered.rowIndex == rowIndex) ? "has-background-grey-lighter" : ""}  `}
    class:has-background-light={rowIndex % 2 != 0}
    on:click={handleOnClick}
    on:pointerenter={handleMouseOver}
    on:pointerleave={handleMouseOut}
>
    <slot />
</div>

<style>
</style>
