<script>
  import { _ } from "svelte-i18n";
  
  import NextButton from "../UI/NextButton.svelte";

  import { scrollToElement } from "../../utils/scroll";
  import { ACTIVITIES, logActivity } from "../../utils/activityLog";


  const handleHireButtonClicked = () => {
    logActivity(ACTIVITIES.bannerHireMeTodayButton);
    scrollToElement("hire");
  };
</script>

<!-- Benner-a -->
<section id="banner">
  <!-- Тапет -->
  <div class="bg" />
  <div class="bg-cover" />
  <div class="header">
    <h1 class="is-size-1 if-font-primary">
      <div class="line0">{$_("banner.greet.line0")}</div>
      <div class="is-hidden-touch is-relative">
        <div class="line1">{$_("banner.greet.line1")}</div>
      </div>
     
      <div class="line2">{$_("banner.greet.line2")}</div>
    </h1>
    <br />
    <br />
    <!-- svelte-ignore a11y-missing-attribute -->
    <a
      on:click={handleHireButtonClicked}
      class="hire button is-large is-outlined is-warning is-radiusless"
    >
      {$_("banner.hire")}
    </a>
  </div>

  <NextButton nextElement="about" />
</section>

<style>
  .bg {
    background-image: url("/cover.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: right;
    top: 0;
    position: absolute;
  }

  @media screen and (max-width: 1024px) {
    .bg {
      background-image: url("/cover-mobile.png");
      background-position: center;
    }
  }

  .bg-cover {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, #4a4a4a, #000);
    opacity: 0.5;
  }

  section {
    height: 100vh;
  }

  .header {
    position: absolute;
    top: 40%;
    left: 112px;
  }
  h1 {
    color: #fff;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-transform: capitalize;
  }

  @media screen and (max-width: 800px) {
    .header {
      left: 30px;
      top: 28%;
    }
    .line0 {
      margin-bottom: 20px;
    }
  }

  /* За готината анимацийка */
  .line0 {
    animation: slideDown 1.1s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .line1 {
    animation: slide 1.1s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .line2 {
    animation: slideRight 1.3s;
    animation-delay: 1.5s;
    /* transform: translateX(-300px); */
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .line1::after{
    content: '';
    position: absolute;
    left: -.6em;
    top:.7em;
    /* bottom: 50%; */
    width: 100%;
    height: 7px;
    background-color:#f8f7f6; /* Color of the line */

    transform: scaleX(0%);
    animation: growLeft .35s;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    transform-origin: left;
  }


  .hire {
    animation: appear 1.5s;
    animation-timing-function: cubic-bezier(0.75, 2.03, 0.98, 1.09);
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-300px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes slide {
    from {
      opacity: 0;
      transform: translateX(-300px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }


  @keyframes appear {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes growLeft{
    0% {
      transform: scaleX(0%);
    }
    100%{
      transform: scaleX(100%);
    }
  }
</style>
