<script>
    import { createEventDispatcher } from "svelte";

    const ANIMATION_DURATION = 0.3; //[s];

    const dispatch = createEventDispatcher();

    export let animationTrigered;
    export let text;

    let buttonActive;

    $: {
        if (animationTrigered) {
            buttonActive = true;
            setTimeout(() => {
                buttonActive = false;
            }, ANIMATION_DURATION * 2 * 1000);
        }
    }

    const handleOnClick = (e) => {
        dispatch("click", e);
    };

    const handleOnMouseDown = () => {
        buttonActive = true;
    };

    const handleOnMouseUp = () => {
        buttonActive = false;
    };

    const handleOnMouseLeave = () => {
        buttonActive = false;
    };
</script>

<div class="button-container" style={`--anim-duration:${ANIMATION_DURATION}s`}>
    <div
        class:active={buttonActive}
        class="button-3d is-family-monospace"
        on:click={handleOnClick}
        on:mousedown={handleOnMouseDown}
        on:mouseup={handleOnMouseUp}
        on:mouseleave={handleOnMouseLeave}
    >
        {@html text.replace(/<[^>]*>?/gm, "").replace(" ", "&nbsp;")}
    </div>
</div>

<style>
    .button-container {
        --text-color: #36301e;
        --main-color: #ffe08a;
        --bottom-color: #c6ae6d;
        --right-color: #aa9457;
        --scale: 1;
    }

    .button-container {
        position: relative;
        cursor: pointer;
    }
    .button-3d {
        display: inline-block;
        padding: calc(10px * var(--scale)) calc(20px * var(--scale));
        position: relative;
        color: var(--text-color);
        vertical-align: middle;
        /* font-weight: 500; */
        text-decoration: none;
        font-size: 20px;
        transition: all var(--anim-duration);
        background-color: var(--main-color);
    }

    .button-3d::before {
        position: absolute;
        content: "";
        transition: all var(--anim-duration);
        bottom: calc(-7px * var(--scale));
        height: calc(7px * var(--scale));
        width: 100%;
        left: calc(4px * var(--scale));
        transform: skewX(45deg);
        background-color: var(--bottom-color);
    }

    .button-3d::after {
        position: absolute;
        content: "";
        transition: all var(--anim-duration);
        right: calc(-7px * var(--scale));
        height: 100%;
        width: calc(7px * var(--scale));
        bottom: calc(-4px * var(--scale));
        transform: skewY(45deg);
        background-color: var(--right-color);
    }

    .button-3d.active {
        margin-left: calc(10px * var(--scale));
        margin-top: calc(10px * var(--scale));
    }

    .button-3d.active::before {
        bottom: calc(-2.5px * var(--scale));
        height: calc(2.5px * var(--scale));
        left: calc(1.5px * var(--scale));
    }

    .button-3d.active:after {
        right: calc(-2.5px * var(--scale));
        width: calc(2.5px * var(--scale));
        bottom: calc(-1.5px * var(--scale));
    }
</style>
