<script>
    export let size=50;
</script>

<div class="custom-loader" style={`width:${size}px; height:${size}px`}>
    <img src="/logo.svg" alt="logo" />
</div>

<style>
    @keyframes rotate {
        0% {
            transform: scale(1, 1) skewX(0deg);
        }

        25% {
            transform: skewX(5deg);
        }

        50% {
            transform: scale(1.4, 1.4) skewX(0deg);
        }

        75% {
            transform: scale(1.4, 1.4) skewX(-5deg);
        }
    }

    .custom-loader {
        animation: rotate 2s infinite;
    }
</style>
