<script>
    import Portal from "svelte-portal";
    import Loader from "./Loader.svelte";

    export let src;
    export let class_ = null;
    export let alt = null;
    export let width = null;
    export let height = null;
    export let container_width = null;

    let modalVisible = false;

    const handleClick = () => {
        modalVisible = !modalVisible;
    };
</script>

<div on:click={handleClick} class={"img-click " + class_}>
    <div class="loader-container">
        <Loader size="50" />
    </div>
    {#key src}
        <img class="main-image" {src} {alt} {width} {height} />
    {/key}
</div>

<Portal target="body">
    <div class="modal" class:is-active={modalVisible}>
        <div class="modal-background" on:click={handleClick} />
        <div class="modal-content" style={`width:${container_width}`}>
            <p class="image">
                <img {src} {alt} />
            </p>
        </div>
        <button
            class="modal-close is-large"
            aria-label="close"
            on:click={handleClick}
        />
    </div>
</Portal>

<style>
    .img-click {
        cursor: pointer;
    }

    .loader-container {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        margin-top: -25px;
        margin-left: -25px;
    }
    .main-image {
        z-index: 1;
        position: relative;
        background-color: transparent;
    }
</style>
