<script>
  export let nextElement;
  export let dark = false;

  import { scrollToElement } from "../../utils/scroll";
  import {ACTIVITIES, logActivity} from "../../utils/activityLog";

  const onArrowClicked = () => {
    scrollToElement(nextElement);
    logActivity(ACTIVITIES.arrowDown);
  };
</script>

<button
  on:click={onArrowClicked}
  class:is-outlined={!dark}
  class:is-inverted={dark}
  class="button is-large is-rounded next is-warning"
>
  <span class="icon is-small">
    <i class="fas fa-chevron-down" />
  </span>
</button>

<style>
  @keyframes rotate {
    0% {
      opacity: 0;
      transform: rotate(-200deg);
    }

    1% {
      opacity: 1;
    }

    50% {
      opacity: 1;
      transform: rotate(-270deg);
    }

    100% {
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  .next {
    z-index: 39;
    opacity: 0;
    position: relative;
    top: -10%;
    left: calc(50% - 2rem);
    animation: rotate 1.6s forwards;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.75, 2.03, 0.98, 1.09);
  }
</style>
