<script>
    let size = 5;

    let animationDuration = 1600; //ms

    let visible = true;

    setTimeout(() => {
        visible = false;
    }, animationDuration);
</script>

<!-- {#if visible} -->
    <div
        class={`wrapper fade-out ${visible?'':'hidden'}`}
        style={`--height:${size}em; --width:${size * (3 / 5)}em; --anim-duration:${animationDuration}ms`}
       
    >
    <!-- transition:fade={{ delay: fadeOutDelay/2 , duration: fadeOutDelay/2 }} -->
        <div class="ball-container">
            <div class="ball has-background-warning">
                <span class="icon has-text-grey-dark">
                    <i class="fas fa-angle-down"></i>
                </span>
            </div>
        </div>
    </div>
<!-- {/if} -->

<style>
    .ball-container {
        height: var(--height);
        width: var(--width);
        border-radius: calc(var(--width) / 2);
        background-color: rgba(182, 28, 76, 0.9);
        border: calc(var(--width) / 10) solid #f9db88;
    }

    .ball {
        width: calc(var(--width) / 1.2);
        height: calc(var(--width) / 1.2);
        border-radius: calc(var(--width) / 1.2 / 2);

        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */

        animation: bounce var(--anim-duration);
        margin-top: -1px;
    }

    .wrapper {
        position: absolute;
        top: 0;
        left: 0;
        float: left;
        width: 100%;
        height: 100%;
        z-index: 1; /* Ensure the overlay is above the content */
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    .wrapper, .wrapper * {
        pointer-events: none;
    }    

    @keyframes bounce {
        0% {
            transform: translateY(0px);
        }

        30% {
            transform: translateY(calc(var(--height) - var(--width)));
        }

        60% {
            transform: translateY(0px);
        }

        80% {
            transform: translateY(calc((var(--height) - var(--width)) / 4));
        }

        100% {
            transform: translateY(0);
        }
    }

    .fade-out {
        opacity: 1;
        transition: opacity 0.5s ease; /* Smooth transition */
    }

    .fade-out.hidden {
        opacity: 0;
    }
</style>
