<script>
    import ScrollHinter from "./ScrollHinter.svelte";

    export let shortDate = false;
    export let scrollHinter = false;
    export let overlayColor;

    let gridTemplate = "";

    $: gridTemplate = shortDate ? `5.3rem auto` : `9.5rem auto`;
</script>

<div class="overlay is-overlay" style={`--color: ${overlayColor};`} />
{#if scrollHinter}
    <ScrollHinter />
{/if}
<div class="timeline-container pl-2 pb-6 pr-1">
    <div
        style={`grid-template-columns: ${gridTemplate};`}
        class="timeline-inner-container"
    >
        <slot />
    </div>
</div>

<style>
    .timeline-inner-container {
        display: grid;
        padding-top: 1.2em;
        padding-right: 0.5em;
    }

    .timeline-container {
        width: 100%;
        max-height: 50vh;
        overflow-y: scroll;
        overflow-x: visible;
        position: relative;
    }

    .overlay {
        z-index: 1; /* Ensure the overlay is above the content */
        pointer-events: none;
        background: linear-gradient(
            to bottom,
            var(--color) 0%,
            rgba(255, 255, 255, 0) 10%,
            rgba(255, 255, 255, 0) 84%,
            var(--color) 100%
        ); 
        /* background-color: blue; */
    }
</style>
