<script>
    export let period;
    export let tag = null;
    export let tagSpacingLarge = false;
</script>

<div class="data-point is-size-6 py-4 pl-1 is-family-code">
    {period}
    {#if tag}
        <span
            class={`tag ml-3 has-text-white ${
                tagSpacingLarge ? "mt-5" : "mt-3"
            } `}>{tag}</span
        >
    {/if}
</div>

<div class="data py-4">
    <slot />
</div>

<style>
    .data-point {
        border-left: 3px solid #f9db88;
        --point-size: 1rem;
    }

    .data-point::before {
        content: "";
        display: block;
        width: var(--point-size);
        height: var(--point-size);
        background-color: #f9db88;
        float: left;
        position: relative;
        left: calc(-0.9 * var(--point-size));
        top: calc(0.3 * var(--point-size));
        border-radius: var(--point-size) var(--point-size) var(--point-size)
            var(--point-size);
    }

    .tag {
        background-color: rgba(0.1, 0.1, 0.1, 0.1);
    }
</style>
