<script>
  import { slide } from "svelte/transition";
  import axios from "axios";
  import qs from "qs";
  import { _ } from "svelte-i18n";

  import { scrollToElement, isElementScrolledTo } from "../../utils/scroll";
  import { ACTIVITIES, logActivity } from "../../utils/activityLog";

  import { locale } from "svelte-i18n";
  let l;
  locale.subscribe((v) => {
    l = v;
  });

  let email = {
    text: "",
    valid: null,
  };

  let msg = {
    text: "",
    valid: null,
  };

  let err = 0;
  let success = false;

  //валидация на email-a
  $: if (email.text) {
    let re =
      /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    email.valid = re.test(String(email.text).toLowerCase());
    logActivity(ACTIVITIES.formTypeEmail);
  }

  //валидация на  съобщението
  $: if (msg.text) {
    msg.valid = msg.text.length > 5 && msg.text.length < 4048;
    logActivity(ACTIVITIES.formTypeMessage)
  }

  $: valid = msg.valid && email.valid;

  //функция за изпращане
  const send = () => {
    logActivity(ACTIVITIES.formSendMessageButton)
    if (valid) {
      axios
        .post(
          "/send/email",
          qs.stringify({
            email: email.text,
            message: msg.text,
          }),
        )
        .then(() => {
          success = true;
          email = {
            text: "",
            valid: null,
          };
          msg = {
            text: "",
            valid: null,
          };
          logActivity(ACTIVITIES.formMessageSuccess);
        })
        .catch(({ response }) => {
          success = false;
          err = response.status;
          logActivity(ACTIVITIES.formMessageError);
        });
    }
  };

  //Затваря модала със съобщението за грешка/успех
  const closeModal = () => {
    err = 0;
    success = false;
  };

  //за trigger-ване на готината анимацийка
  let animationTrigered = false;
  const animationTrigger = () => {
    let scrolled = isElementScrolledTo("hire", 20);

    if (scrolled) {
      animationTrigered = true;
    }
  };

  const handleLinkedinClick = () => {
    logActivity(ACTIVITIES.linkedinOpen);
  };

  const handleCVClick = () => {
    logActivity(ACTIVITIES.cvDownload);
  };

  const goToTop = () => {
    scrollToElement("banner");
  };
</script>

<svelte:window on:scroll={animationTrigger} />
<section class="hero is-fullheight is-bold is-warning" id="hire">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{$_("hire.title")}</h1>
      <h2 class="subtitle">{$_("hire.subtitle")}</h2>

      <br />

      <div class="columns">
        <!-- Данни за връзка -->
        <div class="column" class:visible={animationTrigered}>
          <div class="box">
            <table class="table">
              <thead>
                <tr>
                  <th
                    colspan="2"
                    class="has-text-centered is-size-4"
                    style="padding-top:0"
                  >
                    {$_("hire.contactsTitle")}
                  </th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th>E-mail</th>
                  <td class="has-text-right">koliodev@protonmail.com</td>
                </tr>
                <tr>
                  <th>Linkedin</th>
                  <td class="has-text-right">
                    <a
                      on:click={handleLinkedinClick}
                      class="has-text-link"
                      target="_blank"
                      href="https://www.linkedin.com/in/nikola-petrov-3b9947165/"
                      >Nikola Petrov</a
                    >
                  </td>
                </tr>

                <tr>
                  <th>{$_("hire.phone")}</th>
                  <td class="has-text-right">+359 882726289</td>
                </tr>

                <tr>
                  <th>CV</th>
                  <td class="has-text-right">
                    {#if l === "bg"}
                    <a
                    on:click={handleCVClick}
                    class="has-text-link"
                    target="_blank"
                    href="/nikola-petrov-cv-bg.pdf">Изтегли</a
                  ><br>
                    {/if}
                    <a
                      on:click={handleCVClick}
                      class="has-text-link"
                      target="_blank"
                      href="/nikola-petrov-cv.pdf">{$_("hire.download")}</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Форма за съобщения -->
        <div class="column" class:visible={animationTrigered}>
          <form on:submit|preventDefault={send} class="box" action="">
            <div class="title is-size-4 has-text-centered">
              {$_("hire.dropMeALine")}
            </div>
            <!-- Email -->
            <div class="field">
              <label class="label" for="email">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input
                  id="email"
                  bind:value={email.text}
                  class:is-success={email.valid === true}
                  class:is-danger={email.valid === false}
                  class="input"
                  type="text"
                  placeholder={$_("hire.emailInputPlaceholder")}
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-at" />
                </span>
                {#if email.valid === true}
                  <span class="icon is-small is-right">
                    <i class="fas fa-check" />
                  </span>
                {:else if email.valid === false}
                  <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle" />
                  </span>
                {/if}
              </div>

              <br />
              <!-- Съобщение -->
              <div class="field">
                <label class="label" for="message"
                  >{$_("hire.msgInputLabel")}</label
                >
                <div class="control has-icons-left has-icons-right">
                  <textarea
                    id="message"
                    class:is-success={msg.valid === true}
                    class:is-danger={msg.valid === false}
                    class="textarea"
                    placeholder={$_("hire.msgInputPlaceholder")}
                    bind:value={msg.text}
                  />

                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope" />
                  </span>
                  {#if msg.valid === true}
                    <span class="icon is-small is-right">
                      <i class="fas fa-check" />
                    </span>
                  {:else if msg.valid === false}
                    <span class="icon is-small is-right">
                      <i class="fas fa-exclamation-triangle" />
                    </span>
                  {/if}
                </div>
              </div>

              <!--Бутон "изпрати"-->
              {#if valid}
                <div class="field">
                  <button
                    type="submit"
                    transition:slide
                    class="button is-fullwidth"
                  >
                    {$_("hire.send")}
                  </button>
                </div>
              {/if}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5 is-flex is-justify-content-center">
    <button class="button is-medium is-rounded" on:click={goToTop}>
      <span class="icon"> <i class="fas fa-rocket" /></span>
      <span>{$_("hire.goToTop")}</span>
    </button>
  </div>
</section>

<div class="modal" class:is-active={success || err}>
  <div class="modal-background" />
  <div class="modal-content">
    <div class="box">
      <div class="title">
        {#if success}
          {$_("hire.success")}
          <span class="icon is-pulled-right">
            <i class="far fa-paper-plane" />
          </span>
        {:else if err == 429}
          {$_("hire.error429")}
          <span class="icon is-pulled-right">
            <i class="far fa-hourglass" />
          </span>
        {:else}
          {$_("hire.error500")}
          <span class="icon is-pulled-right">
            <i class="far fa-sad-tear" />
          </span>
        {/if}
      </div>
      <div class="subtitle">
        {#if success}
          {$_("hire.successLine2")}
        {:else if err == 429}
          {$_("hire.error429Line2")}
        {:else}{$_("hire.error500Line2")}{/if}
      </div>

      <div on:click={closeModal} class="button is-fullwidth">
        {$_("hire.ok")}
      </div>
    </div>
  </div>
  <button
    on:click={closeModal}
    class="modal-close is-large"
    aria-label="close"
  />
</div>

<style>
  table {
    background-color: #fff !important;
    width: 100%;
  }
  textarea {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 5px;
  }

  .column:nth-child(1):not(.visible) {
    transform: rotate(10deg);
  }
  .column:nth-child(1) {
    transform-origin: top left;
  }

  .column:nth-child(2):not(.visible) {
    transform: rotate(-10deg);
  }
  .column:nth-child(2):not(.visible) {
    transform-origin: top right;
  }

  .column {
    transform: none;
    transition: transform 1s;
    transition-timing-function: ease-in-out;
  }
</style>
